{
  "clusterName": "{{ vnflcm.clusterName }}",
  "additionalParams": {
    "namespace": "{{ vnflcm.namespace }}",
    "applicationTimeOut": "1800",
    "commandTimeOut": "1800",
    "skipVerification": "true"
  }
}

