# External values file
# Please set up the values regarding to deployment which you want to deploy
# Please remove the double curly brackets {% raw %}{{}}{% endraw %} surrounding the final value to set it right


global:
  coredumps:
    enabled: true

  ericsson:
    licensing:
      licenseDomains:
        - productType: "CCSM"
          customerId: "{{ license.customerId }}"
          swltId: "{{ license.swltId }}"

  ## CCSM FSGROUP CONFIGURATION
  #  The next configuration defines the global fsGroup, if different configuration is needed change on purpose.
  #
  #  NOTE:
  #  - The default value 10000 for global.fsGroup.manual will be used when no other value provided.
  #  - The global.fsGroup.namespace will be only evaluated if global.fsGroup.manual is not set or it
  #    takes the values false or 0.
  {% if caas == 'OpenShift' %}
  fsGroup:
    namespace: true
  {% else %}
  {# this setup is not applicable in OpenShift environment since the fsGroup is assigned automatically#}
  fsGroup:
    manual: 10000
    namespace: false
  {% endif %}

  hssHandling:
    failover:
      errorHttpServiceUnavailableAsFailNhssUecm: "off"

  # Determines if enable the internal mTLS communication
  # Enable set it "on" / Disable set it "off"
  internalMtls:
    enabled: "on"

  ## CCSM EGREES GATEWAY CONFIGURATION for NRF Agent
  #  The next configuration defines the global egrees Gateway
  #  default configuration, if different configuration is needed,
  #  uncomment and change on purpose.
  #
  #  NOTE:
  #  - When mtls profile is selected, it enables the egrees automatically and
  #    the endpoint host and port must be updated on purpose.
  #  - When cleartext profile is selected, it disables egrees and the enpoints
  #    content must be manually removed on purpose.
  istio:
    # Egrees: Update the endpoint host and port on purpose
    egress:
      endpoints:
        eric-ccsm-sbi-traffic-mtls:
          enabled: true
          {% if caas == 'Tanzu' %}
          host: "*.{{ vnflcm.clusterName }}.{{ DOMAIN_3GPP_5GC }}"
          {% else %}
          host: "*.{{ DOMAIN_3GPP_5GC }}"
          {% endif %}
          ports:
            - port: 443
              name: https-port-for-mTLS-origination
              protocol: HTTP2
              mode: mTLS
              cacert: /etc/istio/egress-ca-certs/ca-chain.cert.pem
          resolution: NONE

  map:
    #Total number of stacks to be deployed, regardless if they are shared/dedicated. Max stacks number is 4
    mapStacksNumber: 2
  {% raw %}
  ## Valid values: {{eMBB|mIoT}}
  {% endraw %}
  networkType: eMBB

  # Service Mesh and CCSM NFs global settings
  nodeSelector: {{ nodeSelector }}
  #  ericsson-5gc-se/vnf: ccsm

  # Determines if the nrfagent is going to be deployed or not
  # This information is required by the microservices that communicate
  # with the nrfagent so that they create the internal certificates or not
  # Enable set it "true" / Disable set it "false"
  nrfagent:
    enabled: true

  ## CCSM profiles selection
  # Enable only one profile per group
  # Size:
  # - small-system  (Small Size Systems -Enterprise & Telco)
  # - std-system (Standard System - Telco)
  # Security in the outgoing/incoming traffic:
  # - mtls (mTLS)
  # - cleartext (Clear Text)
  # IP Stack version:
  # - ipv4
  # - ipv6
  profiles:
    small-system:
      enabled: {{ 'true' if systemProfile == 'small' else false | string | lower }}
    std-system:
      enabled: {{ 'true' if systemProfile == 'standard' else false | string | lower }}
    cleartext:
      enabled: false
    mtls:
      enabled: true
    ipv4:
      enabled: true
    ipv6:
      enabled: false

  registry:
    url: {{ registry.url }}
    imagePullPolicy: IfNotPresent

  scpHandling:
    failover:
      errorHttpServiceUnavailableAsFailNudmUecm: "off"
      errorHttpServiceUnavailableAsFailNudmSdm: "off"
      errorHttpServiceUnavailableAsFailNamfMtLoc: "off"
      errorHttpServiceUnavailableAsFailNamfEvts: "off"

  # CCSM Security DR-124 - Pod Security Policies (PSP) and Security Context Constraints (SCC).
  security:
    {% if caas == 'OpenShift' %}
    policyBinding:
      ## create indicate whether needs to auto-create the rolebinding
      ## for the clusterRole used for pod security policy.
      create: true
    policyReferenceMap:
      ## the clusterRole name defined for pod security policy.
      default-restricted-security-policy: default-restricted-security-policy
      plc-privileged-for-sctp-ccsm: plc-privileged-for-sctp-ccsm
      plc-29c4b823c87a16cad810082eb11106: plc-29c4b823c87a16cad810082eb11106
      plc-dd66cc53d8554f93ad34971900932e: plc-dd66cc53d8554f93ad34971900932e-wa
      plc-59d0cf1dcc793a78b6ce30bfbe6553: plc-59d0cf1dcc793a78b6ce30bfbe6553
      plc-38dc0a0ee2b2564ef10039d2c6c0e0: plc-38dc0a0ee2b2564ef10039d2c6c0e0
      plc-privileged-for-istio: plc-privileged-for-istio
      plc-eric-tm-sctp: plc-eric-tm-sctp
    {% else %}
    policyBinding:
      ## create indicate whether needs to auto-create the rolebinding
      ## for the clusterRole used for pod security policy.
      create: false
    policyReferenceMap:
      ## the clusterRole name defined for pod security policy.
      default-restricted-security-policy: default-restricted-security-policy
      plc-privileged-for-swprobes-ccsm: plc-privileged-for-swprobes-ccsm
      plc-privileged-for-sctp-ccsm: plc-privileged-for-sctp-ccsm
      plc-e393f1841dfc4cbcca713b5a97eb83: plc-e393f1841dfc4cbcca713b5a97eb83
      plc-29c4b823c87a16cad810082eb11106: plc-29c4b823c87a16cad810082eb11106
      plc-9c20871f9bf62c7b09fd0c684ac651: plc-9c20871f9bf62c7b09fd0c684ac651
      plc-dd66cc53d8554f93ad34971900932e: plc-dd66cc53d8554f93ad34971900932e
      plc-59d0cf1dcc793a78b6ce30bfbe6553: plc-59d0cf1dcc793a78b6ce30bfbe6553
      plc-38dc0a0ee2b2564ef10039d2c6c0e0: plc-38dc0a0ee2b2564ef10039d2c6c0e0
      plc-privileged-for-swprobe: plc-privileged-for-swprobe
      plc-privileged-for-istio: plc-privileged-for-istio
      plc-eric-tm-sctp: plc-eric-tm-sctp
    {% endif %}

  timezone: {{ timezone }}

  udrHandling:
    failover:
      errorHttpServiceUnavailableAsFailNudrDr: "off"
      errorHttpServiceUnavailableAsFailNcudrGudDr: "off"
    # Seconds to delay UDM deregistration when UDR is not available, to wait to get some new UDRs from NRF.
    nrfWaitingTime: 0

  # Determines if enable the injection of vTAP agent sidecar for SW PROBE function
  # Enable set it "true" / Disable set it "false"
  vtapagent:
    {% if caas == 'OpenShift' or systemProfile == 'small' %}
    enabled: false
    {% else %}
    enabled: true
    {% endif %}


## SERVICE MESH SPECIFIC SETTINGS
#  The next configuration defines the Service Mesh default configuration,
#  if different configuration is needed, uncomment and change on purpose.
#
#  NOTE:
#    Two values between double curly brackets {% raw %}{{mtls|cleartext}}{% endraw %} default values
#    Do not change the targetPort
#    Disable eric-ingressgw-<NF>-traffic if no NF will be installed
eric-ccsm-service-mesh:
  eric-ingressgw-ausf-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: []
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: sig-pool
          ako.vmware.com/load-balancer-ip: {{ ccsm.ausf5gSigVip }}
      {% else %}
      loadBalancerIP: ""
      annotations:
        addressPoolName: ccsm{{ instance }}-ausf-5g-sig
      {% endif %}
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|80}}
    {% endraw %}
    #    targetPort: 8080
  eric-ingressgw-udm-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: []
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: sig-pool
          ako.vmware.com/load-balancer-ip: {{ ccsm.udm5gSigVip }}
      {% else %}
      loadBalancerIP: ""
      annotations:
        addressPoolName: ccsm{{ instance }}-udm-5g-sig
      {% endif %}
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|81}}
    {% endraw %}
    #    targetPort: 8081
    #    tcpkeepalive:
    #      time: 60
    #      interval: 30
    #      probes: 2
    #  - name: http-clear
    #    port: 82
    #    targetPort: 8082
    #    tcpkeepalive:
    #      time: 60
    #      interval: 30
    #      probes: 2
  eric-ingressgw-eir-traffic:
    enabled: {{ 'false' if systemProfile == 'small' else true | string | lower }}
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: []
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: sig-pool
          ako.vmware.com/load-balancer-ip: {{ ccsm.eir5gSigVip }}
      {% else %}
      loadBalancerIP: ""
      annotations:
        addressPoolName: ccsm{{ instance }}-eir-5g-sig
      {% endif %}
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|83}}
    {% endraw %}
    #    targetPort: 8083
  eric-ingressgw-epc-soap-traffic:
    {% if caas == 'OpenShift' %}
    enabled: true
    {% else %}
    enabled: false
    {% endif %}
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: []
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: oam-pool
          ako.vmware.com/enable-shared-vip: oam-ccsm-shared
          ako.vmware.com/load-balancer-ip: {{ ccsm.ccsmOamVip }}
      {% else %}
      loadBalancerIP: ""
      annotations:
        addressPoolName: ccsm{{ instance }}-oam
        sharedVIPLabel: ccsm-oam
      {% endif %}
    #ports:
    {%- raw %}
    #  - name: {{http}}
    #    port: {{84}}
    #    targetPort: 8084
    #  - name: {{https-mtls}}
    #    port: {{8443}}
    {% endraw %}
    #    targetPort: 8087
  eric-ingressgw-hss-epc-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: []
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: sig-pool
          ako.vmware.com/load-balancer-ip: {{ ccsm.hssEpcHttpSigVip }}
      {% else %}
      loadBalancerIP: ""
      annotations:
        addressPoolName: ccsm{{ instance }}-hss-epc-http-sig
      {% endif %}
    #ports:
    {%- raw %}
    #  - name: {{http2-clear}}
    #    port: {{80}}
    {% endraw %}
    #    targetPort: 8086
  eric-ingressgw-ims-soap-traffic:
    enabled: false
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm{{ instance }}-oam
        sharedVIPLabel: ccsm-oam
    #ports:
    {%- raw %}
    #  - name: {{http}}
    #    port: {{85}}
    #    targetPort: 8085
    #  - name: {{https-mtls}}
    #    port: {{8444}}
    #    targetPort: 8088
    {% endraw %}

#
# Overwrite the CCSM specific settings
#

# Overwrite the AUSF Helm values here
eric-ccsm-ausf:
  enabled: true
  eric-ausf-capacity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-ausf-capacity'].min }}
      maxReplicas: {{ hpaReplica['eric-ausf-capacity'].max }}
  eric-ausf-engine:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-ausf-engine'].min }}
      maxReplicas: {{ hpaReplica['eric-ausf-engine'].max }}

# Overwrite smsengine Helm values here
eric-ccsm-smsengine:
  autoscaling:
    minReplicas: {{ hpaReplica['eric-ccsm-smsengine'].min if systemProfile == 'small' else 2 }}
    maxReplicas: {{ hpaReplica['eric-ccsm-smsengine'].max if systemProfile == 'small' else 94 }}

# Overwrite the UDM Helm values here
eric-ccsm-udm:
  enabled: true
  global:
    ## Specific values for Auto-provisioning error handling. Not documented in Day-0 of standard releases.
    #flexibleErrorHandling:
    #  autoprovUeauTrigger:
    #    status: 403
    #    cause: "AUTHENTICATION_REJECTED"
    #  autoprovSdmTrigger:
    #    status: 404
    #    cause: "DATA_NOT_FOUND"
    ##
    hsmconfig:
      hsminstall: false
      hagroup: HA_PED_ST3
      server:
        # define HSM server with endpoint (IP) and serialnum
        - endpoint: 10.198.28.25
          serialnum: "1485999395022"
        - endpoint: 10.198.28.26
          serialnum: "1531778547595"
  eric-udm-amfeenotifications:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-amfeenotifications'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-amfeenotifications'].max if systemProfile == 'small' else 48 }}
  eric-udm-amfeesubscriptions:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-amfeesubscriptions'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-amfeesubscriptions'].max if systemProfile == 'small' else 48 }}
  eric-udm-authconf:
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-autoprovisioning:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-autoprovisioning'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-autoprovisioning'].max if systemProfile == 'small' else 10 }}
  eric-udm-cancelepclocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-cancelepclocation'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-cancelepclocation'].max }}
  eric-udm-capacity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-capacity'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-capacity'].max }}
  eric-udm-eapauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-eapauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-eapauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-eapprimeauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-eapprimeauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-eapprimeauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-epsauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-epsauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-epsauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-gbaauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-gbaauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-gbaauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-imsauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-imsauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-imsauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-iratamflocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-iratamflocation'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-iratamflocation'].max }}
  eric-udm-iratamfdereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-iratamfdereg'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-iratamfdereg'].max }}
  eric-udm-iratsndereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-iratsndereg'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-iratsndereg'].max }}
  eric-udm-iwk5g2g:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-iwk5g2g'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-iwk5g2g'].max }}
  eric-udm-mtsmsdeliverystatus:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtsmsdeliverystatus'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtsmsdeliverystatus'].max if systemProfile == 'small' else 186 }}
  eric-udm-mtsmsreadystatus:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtsmsreadystatus'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtsmsreadystatus'].max if systemProfile == 'small' else 186 }}
  eric-udm-mtsmsroutinginfo:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtsmsroutinginfo'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtsmsroutinginfo'].max if systemProfile == 'small' else 186 }}
  eric-udm-mtsmswaitingdata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtsmswaitingdata'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtsmswaitingdata'].max if systemProfile == 'small' else 94 }}
  eric-udm-mtueinfo:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtueinfo'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtueinfo'].max if systemProfile == 'small' else 20 }}
  eric-udm-mtlocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-mtlocation'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-mtlocation'].max if systemProfile == 'small' else 20 }}
  eric-udm-pcscfrestnotif:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-pcscfrestnotif'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-pcscfrestnotif'].max if systemProfile == 'small' else 20 }}
  eric-udm-pcscfrestoration:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-pcscfrestoration'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-pcscfrestoration'].max if systemProfile == 'small' else 20 }}
  eric-udm-sdmamdata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmamdata'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmamdata'].max }}
  eric-udm-sdmimplicitunsub:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmimplicitunsub'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmimplicitunsub'].max }}
  eric-udm-sdmmultipledataset:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmmultipledataset'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmmultipledataset'].max }}
  eric-udm-sdmnotif:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmnotif'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmnotif'].max }}
  eric-udm-sdmnssai:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmnssai'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmnssai'].max }}
  eric-udm-sdmsmdata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmsmdata'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmsmdata'].max }}
  eric-udm-sdmsmfselect:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmsmfselect'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmsmfselect'].max }}
  eric-udm-sdmsmsdata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmsmsdata'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmsmsdata'].max if systemProfile == 'small' else 40 }}
  eric-udm-sdmsmsmngdata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmsmsdata'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmsmsdata'].max if systemProfile == 'small' else 40 }}
  eric-udm-sdmsubscriptions:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmsubscriptions'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmsubscriptions'].max }}
  eric-udm-sdmuectxtsmf:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmuectxtsmf'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmuectxtsmf'].max }}
  eric-udm-sdmuectxtsmsf:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sdmuectxtsmsf'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-sdmuectxtsmsf'].max if systemProfile == 'small' else 40 }}
  eric-udm-sidf:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-sidf'].min if systemProfile == 'small' else 1 }}
      maxReplicas: {{ hpaReplica['eric-udm-sidf'].max if systemProfile == 'small' else 10 }}
  eric-udm-ueauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-ueauth'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-ueauth'].max }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-uecmamfderegnotifier:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmamfderegnotifier'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmamfderegnotifier'].max }}
  eric-udm-uecmamfget:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmamfget'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmamfget'].max }}
  eric-udm-uecmamfregupdate:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmamfregupdate'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmamfregupdate'].max }}
  eric-udm-uecmreg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmreg'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmreg'].max }}
  eric-udm-uecmsmfderegistration:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmsmfderegistration'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmsmfderegistration'].max }}
  eric-udm-uecmsmfregistration:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmsmfregistration'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmsmfregistration'].max }}
  eric-udm-uecmsmsfdereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmsmsfdereg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmsmsfdereg'].max if systemProfile == 'small' else 40 }}
  eric-udm-uecmsmsfregget:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmsmsfregget'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmsmsfregget'].max if systemProfile == 'small' else 20 }}
  eric-udm-uecmsmsfregistration:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-uecmsmsfregistration'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-uecmsmsfregistration'].max if systemProfile == 'small' else 40 }}
  eric-udm-ueshcm:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-ueshcm'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-ueshcm'].max if systemProfile == 'small' else 20 }}
  eric-udm-umtsauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-umtsauth'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-umtsauth'].max if systemProfile == 'small' else 94 }}
    appArmorProfile:
      type:
      localhostProfile:
  eric-udm-eesubscribe:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-eesubscribe'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-eesubscribe'].max if systemProfile == 'small' else 20 }}
    subscription:
      durationTime: "31536000"
  eric-udm-eeunsubscribe:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-eeunsubscribe'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-eeunsubscribe'].max if systemProfile == 'small' else 10 }}
  eric-udm-eesubsidchangenotif:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-eesubsidchangenotif'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-udm-eesubsidchangenotif'].max if systemProfile == 'small' else 20 }}
  {% if caas == "OpenShift" %}
  eric-udm-blackhole:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-udm-blackhole'].min }}
      maxReplicas: {{ hpaReplica['eric-udm-blackhole'].max }}
  {% endif %}

# Overwrite the EIR Helm values here
eric-ccsm-eir:
  enabled: {{ 'false' if systemProfile == 'small' else true | string | lower }}
  eric-eir-capacity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-capacity'].min if systemProfile == 'small' else 1 }}
      maxReplicas: {{ hpaReplica['eric-eir-capacity'].max if systemProfile == 'small' else 20 }}
  eric-eir-diametereireic:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-diametereireic'].min }}
      maxReplicas: {{ hpaReplica['eric-eir-diametereireic'].max }}
  eric-eir-eireic:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-eireic'].min }}
      maxReplicas: {{ hpaReplica['eric-eir-eireic'].max }}
  eric-eir-gsmadbhandler:
    persistentVolumeClaim:
      storageClassName: {{ storageClassName }}
  eric-eir-httpnotifier:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-httpnotifier'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-eir-httpnotifier'].max if systemProfile == 'small' else 20 }}
  eric-eir-infocollector:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-infocollector'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-eir-infocollector'].max if systemProfile == 'small' else 20 }}
    persistentVolumeClaim:
      storageClassName: {{ storageClassName }}
  eric-eir-infocollectorunsucc:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-infocollectorunsucc'].min if systemProfile == 'small' else 1 }}
      maxReplicas: {{ hpaReplica['eric-eir-infocollectorunsucc'].max if systemProfile == 'small' else 20 }}
    persistentVolumeClaim:
      storageClassName: {{ storageClassName }}
  eric-eir-mapeireic:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-mapeireic'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-eir-mapeireic'].max if systemProfile == 'small' else 50 }}
  eric-eir-s13diameter:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-eir-s13diameter'].min }}
      maxReplicas: {{ hpaReplica['eric-eir-s13diameter'].max }}

# Overwrite the HSS-EPC Helm values here
eric-ccsm-hssepc:
  enabled: true
  eric-hssepc-capacity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-capacity'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-capacity'].max }}
  eric-hssepc-mttadsinfo:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-mttadsinfo'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-mttadsinfo'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-mtuesrvcccap:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-mtuesrvcccap'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-mtuesrvcccap'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-mtstnsrget:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-mtstnsrget'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-mtstnsrget'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-mtstnsrput:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-mtstnsrput'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-mtstnsrput'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-mtlocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-mtlocation'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-mtlocation'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-iratsndereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-iratsndereg'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-iratsndereg'].max }}
  eric-hssepc-s6aauthentication:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6aauthentication'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6aauthentication'].max }}
  eric-hssepc-s6acancellocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6acancellocation'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6acancellocation'].max }}
  eric-hssepc-s6adeletesubscriber:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6adeletesubscriber'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6adeletesubscriber'].max }}
  eric-hssepc-s6adiameter:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6adiameter'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6adiameter'].max }}
  eric-hssepc-s6ainsertsubscriber:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6ainsertsubscriber'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6ainsertsubscriber'].max }}
  eric-hssepc-s6anotify:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6anotify'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6anotify'].max }}
  eric-hssepc-s6apurge:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6apurge'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6apurge'].max }}
  eric-hssepc-s6aupdatelocation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-s6aupdatelocation'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-s6aupdatelocation'].max }}
  eric-hssepc-soap:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-soap'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-soap'].max }}
  eric-hssepc-subscriptionupdate:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-subscriptionupdate'].min }}
      maxReplicas: {{ hpaReplica['eric-hssepc-subscriptionupdate'].max }}
  eric-hssepc-swxdiameter:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxdiameter'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxdiameter'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-swxsarreg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxsarreg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxsarreg'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-swxsardereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxsardereg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxsardereg'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-swxsarpgw:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxsarpgw'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxsarpgw'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-swxmar:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxmar'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxmar'].max if systemProfile == 'small' else 20 }}
  eric-hssepc-swxsdmunsub:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssepc-swxsdmunsub'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssepc-swxsdmunsub'].max if systemProfile == 'small' else 20 }}

# Overwrite the HSS-IMS Helm values here.
eric-ccsm-hssims:
  enabled: {{ 'true' if systemProfile == 'small' else false | string | lower }}
  eric-hssims-shudrrepodata:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrrepodata'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrrepodata'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrimsi:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrimsi'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrimsi'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrimspublicidentity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrimspublicidentity'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrimspublicidentity'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrimsuserstate:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrimsuserstate'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrimsuserstate'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrcharginginformation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrcharginginformation'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrcharginginformation'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrscscfname:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrscscfname'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrscscfname'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrmsisdns:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrmsisdns'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrmsisdns'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shudrtadsinformation:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shudrtadsinformation'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shudrtadsinformation'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shpur:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shpur'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shpur'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shsnr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shsnr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shsnr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-soap:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-soap'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-soap'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shprovnotification:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shprovnotification'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shprovnotification'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shpnr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shpnr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shpnr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-shdiameter:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-shdiameter'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-shdiameter'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxdiameter:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxdiameter'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxdiameter'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxlir:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxlir'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxlir'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxuar:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxuar'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxuar'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxmar:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxmar'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxmar'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxsarreg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxsarreg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxsarreg'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxsardereg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxsardereg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxsardereg'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxsarunreg:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxsarunreg'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxsarunreg'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxsarauth:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxsarauth'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxsarauth'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxsarnoassign:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxsarnoassign'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxsarnoassign'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxprovnotifrtr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxprovnotifrtr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxprovnotifrtr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxrtr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxrtr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxrtr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxprovnotifppr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxprovnotifppr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxprovnotifppr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-cxppr:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-cxppr'].min if systemProfile == 'small' else 2 }}
      maxReplicas: {{ hpaReplica['eric-hssims-cxppr'].max if systemProfile == 'small' else 20 }}
  eric-hssims-capacity:
    autoscaling:
      minReplicas: {{ hpaReplica['eric-hssims-capacity'].min if systemProfile == 'small' else 1 }}
      maxReplicas: {{ hpaReplica['eric-hssims-capacity'].max if systemProfile == 'small' else 20 }}

# Diameter Networking related settings
eric-stm-diameter:
  service:
    {% if caas == 'Tanzu' %}
    annotations:
      aviinfrasetting.ako.vmware.com/name: sig-pool
      ako.vmware.com/enable-shared-vip: "dia-ccsm-shared"
      ako.vmware.com/load-balancer-ip: {{ ccsm.diaSigVip }}
    {% elif caas == 'OpenShift' %}
    loadBalancerIP: ""
    annotations:
      addressPoolNameDiameterOverTCP: "dia-sig"
      sharedVIPLabelDiameterOverTCP: "dia-sig"
      addressPoolNameDiameterOverSCTP: "ccsm{{ instance }}-dia-sig"
      sharedVIPLabelDiameterOverSCTP: "ccsm{{ instance }}-dia-sig"
    {% else %}
    loadBalancerIP: ""
    annotations:
      addressPoolNameDiameterOverTCP: "ccsm{{ instance }}-dia-sig"
      addressPoolNameDiameterOverSCTP: "ccsm{{ instance }}-dia-sig"
      sharedVIPLabelDiameterOverSCTP: "dia-sig"
      sharedVIPLabelDiameterOverTCP: "dia-sig"
    {% endif %}
    diameter:
      ports:
        tcp:
          - port:  3868
            targetPort:  3868
        sctp:
          - port:  3868
            targetPort:  3868

# Mapproxy settings
eric-ccsm-mapproxy:
  {% if caas == 'NFVI-CCD' %}
  enabled: false
  {% endif %}
  global:
    # This global configuration applies to all eric-ccsm-mapproxy instances
    map:
      configuration:
        ss7:
          signalingNetwork:
            networkStandard: "itu"
          m3ua:
            asProfile:
              - dupu-behavior: "dpc-omitted"
                dupu-handling: "no-dupu-handling"
                id: 1
                interval-for-mtp-status-ind: 8
                notify-behavior: "resume-after-aspac-ack"
                timer-divert: 10
                timer-notify: 0
                timer-scon: 75
                timer-tr: 100
            abatementThresholdLevel1: 150
            abatementThresholdLevel2: 400
            abatementThresholdLevel3: 650
            burstSize: 0
            checkDpcStatusInIpNetwork: "not-check-opc-status"
            congestionProcForRemoteSgps: "use-both-daud-and-tscon"
            forbidMessageFromUnknownDpc: "not-check-opc"
            handleIncomDataMsgWithoutAs: "discard-msg"
            internalCongestionLevel1: 250
            internalCongestionLevel2: 500
            internalCongestionLevel3: 750
            loadsharingAlgorithm: "basic"
            maxNumberOfBurstsWithoutProgress: 0
            modifiedSlsRotation: "no-sls-rotation"
            retransmitBufferSize: 1024
            supportDynamicRegistrOfAsp: "dynamic-identif-only"
            timerBurst: 10
            timerBurstJittering: 0
            timerCongAudit: 60000
            timerInitConf: 100
            timerReinit: 100
            timerRetransmit: 5
            remoteSpProfile:
              - assoc-establishment-attempts: 4
                attempts-of-dauds: 5
                drst-support: "rfc-4666-compliant"
                heartbeat-procedure: "hb-off"
                id: 1
                max-num-of-affected-dpcs-in-daud: 0
                ntfy-support: "rfc-4666-compliant"
                timer-ack: 60
                timer-assoc: 20
                timer-audit: 300
                timer-deactivation: 0
                timer-hb: 300
                timer-rec: 100
                timer42: 8
                tmt-support: "rfc-4666-compliant"
          tcapEit:
            timerDialogue: 30000

  # Overwrite the Mapproxy Helm values here
  eric-ccsm-mapproxy-1:
    {% if caas == 'Tanzu' %}
    enabled: false {#- Uncontrolled IP assignment. Not needed in VMware TS 1.5 #}
    {% endif %}
    # Networking related settings
    service:
      loadBalancerIP: ""
      annotations:
        addressPoolName: map-sig
      sctp:
        # The list of ports for traffic
        # default is the list with one port 2905
        port:
          - 2905 # default value

  eric-ccsm-mapproxy-2:
    {% if caas == 'Tanzu' %}
    enabled: false
    {% endif %}
    # Networking related settings
    service:
      loadBalancerIP: ""
      annotations:
        addressPoolName: map-sig-2
      sctp:
        # The list of ports for traffic
        # default is the list with one port 2905
        port:
          - 2905 # default value

  eric-ccsm-mapproxy-3:
    {% if caas == 'Tanzu' %}
    enabled: false
    {% endif %}
    # Networking related settings
    service:
      loadBalancerIP: ""
      annotations:
        addressPoolName: map-sig-3
      sctp:
        # The list of ports for traffic
        # default is the list with one port 2905
        port:
          - 2905 # default value

  eric-ccsm-mapproxy-4:
    {% if caas == 'Tanzu' %}
    enabled: false
    {% endif %}
    # Networking related settings
    service:
      loadBalancerIP: ""
      annotations:
        addressPoolName: map-sig-4
      sctp:
        # The list of ports for traffic
        # default is the list with one port 2905
        port:
          - 2905 # default value

# Overwrite the ADP Generic Services Helm values here
eric-ccsm-adp:
  eric-cm-mediator:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-cm-yang-provider:
    enableCliCommandAuditLogs: true
    externalTls:
      netconf:
        enabled: false
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    service:
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: oam-pool
          ako.vmware.com/enable-shared-vip: oam-ccsm-shared
          ako.vmware.com/load-balancer-ip: {{ ccsm.ccsmOamVip }}
      {% else %}
      annotations:
        addressPoolName: "ccsm{{ instance }}-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      {% endif %}
      type: LoadBalancer
  eric-cnom-server:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    fqdn: {{ cnom.fqdn }}
    legalNotice: >
      IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY


      This system processes personal information. Handle personal information
      with care.  Misuse, including unauthorized access, is grounds for legal
      action.  Version: 1.0, Date: October 27, 2020.
  eric-ctrl-bro:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 2Gi
        storageClassName: {{ storageClassName }}
  eric-data-coordinator-zk:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      datacoordinatorzk: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 10Gi
        storageClassName: {{ storageClassName }}
  eric-data-distributed-coordinator-ed:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      dced: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      brAgent:
        backupVolume:
          storageClassName: {{ storageClassName }}
      persistentVolumeClaim:
        size: 2Gi
        storageClassName: {{ storageClassName }}
  eric-data-document-database-pg:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 8Gi
      storageClassName: {{ storageClassName }}
  eric-data-document-database-pg-ah:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 4Gi
      storageClassName: {{ storageClassName }}
  eric-data-document-database-pg-lm:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 4Gi
      storageClassName: {{ storageClassName }}
  eric-data-message-bus-kf:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 10Gi
        storageClassName: {{ storageClassName }}
  eric-data-object-storage-mn:
    persistentVolumeClaim:
      storageClassName: {{ storageClassName }}
    affinity:
      ##
      # Set 'soft' when number of available workers less than 4.
      # Set 'hard' when number of available workers is 4 or more.
      podAntiAffinity: "hard"
  eric-data-search-engine:
    nodeSelector:
      bragent: {}
      #  ericsson-5gc-se/vnf: ccsm
      data: {}
      #  ericsson-5gc-se/vnf: ccsm
      ingest: {}
      #  ericsson-5gc-se/vnf: ccsm
      master: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      backup:
        persistentVolumeClaim:
          size: 16Mi
          storageClassName: {{ storageClassName }}
      data:
        persistentVolumeClaim:
          size: 100Gi
          storageClassName: {{ storageClassName }}
      master:
        persistentVolumeClaim:
          size: 64Mi
          storageClassName: {{ storageClassName }}
  eric-data-search-engine-curator:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-fh-alarm-handler:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-fh-snmp-alarm-provider:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    service:
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: oam-pool
          ako.vmware.com/enable-shared-vip: oam-ccsm-shared
          ako.vmware.com/load-balancer-ip: {{ ccsm.ccsmOamVip }}
      {% else %}
      annotations:
        addressPoolName: "ccsm{{ instance }}-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      {% endif %}
      type: LoadBalancer
    sourceIdentifierType: 1
    sourceIdentifier: "{{ snmp.sourceIdentifier }}"
  eric-lm-combined-server:
    licenseConsumerHandler:
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
    licenseServerClient:
      licenseServer:
        thrift:
          host: "{{ nels.host }}"
          port: {{ nels.port }}
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
    licenseServerIpAddresses:
      # licenseServerIpAddresses.ip1 - the first IP address of a license server in the hosts file
      ip1:
      # licenseServerIpAddresses.ip2 - the second IP address of a license server in the hosts file for Geographical Redundency
      ip2:
  eric-lm-unique-object-reporter:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    uoi:
      hostname: "{{ nels.host }}"
      ip:
      port: 8060
  eric-log-shipper:
    nodeSelector: {}
    {% if caas == 'OpenShift' %}
    rbac:
      automountServiceAccountToken: true
      createClusterRole: true
      createClusterRoleBinding: true
    logshipper:
      privileged: true
      cfgData: ""
      autodiscover:
        enabled: true
        namespace: ".RELEASE.NAMESPACE"
        logplane: adp-app-logs
        paths:
          - /var/log/pods/${data.kubernetes.namespace}_${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}/**/*.log
        useContainerInput: true
    additionalVolumes: |
      - name: crio-containers
        hostPath:
          path: /var/log/containers
      - name: kubernetes-containers
        hostPath:
          path: /var/log/pods
    additionalVolumeMounts: |
      - name: crio-containers
        mountPath: /var/log/containers
        readOnly: true
      - name: kubernetes-containers
        mountPath: /var/log/pods
        readOnly: true
    {% endif %}
    #  ericsson-5gc-se/vnf: ccsm
  eric-log-transformer:
    egress:
      syslog:
        enabled: false
        defaultFacility: 1
        defaultSeverity: 5
        tls:
          enabled: true
        certificates:
          asymmetricKeyCertificateName: log-syslog-client
          trustedCertificateListName: log-syslog-client
        remoteHosts: []
        inclusions: []
        exclusions: []
        filter: ""
    networkPolicy:
      egress: {}
        #- cidr: 172.17.0.0/32
        #  ports:
        #  - protocol: TCP
        #    port: 1234
        #  - protocol: UDP
        #    port: 2345
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-odca-diagnostic-data-collector:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-pm-bulk-reporter:
    env:
      nodeName: {{ nodeName }}
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 500Mi
      storageClassName: {{ storageClassName }}
    service:
      {% if caas == 'Tanzu' %}
      annotations:
        aviinfrasetting.ako.vmware.com/name: oam-pool
        ako.vmware.com/enable-shared-vip: oam-ccsm-shared
        ako.vmware.com/load-balancer-ip: {{ ccsm.ccsmOamVip }}
      {% else %}
      annotations:
        addressPoolName: "ccsm{{ instance }}-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      {% endif %}
      type: LoadBalancer
  eric-pm-server:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    server:
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
      extraArgs:
        storage.tsdb.retention.size: 75GB
      persistentVolume:
        size: 80Gi
        storageClass: {{ storageClassName }}
    rbac:
      appMonitoring:
        {% if caas == 'OpenShift' %}
        enabled: false
        federation:
          jobOverride: false
          jobConfiguration: |
            #- job_name: 'federate-3pp-caas'
            #  scrape_interval: 15s
            #  honor_labels: true
            #  metrics_path: '/federate'
            #  params:
            #    'match[]':
            #      - '{job="kubernetes-nodes",namespace="eric-ccsm"}'
            #      - '{job="kubernetes-nodes-cadvisor",namespace="eric-ccsm"}'
            #  static_configs:
            #    - targets:
            #      - 'eric-pm-server.monitoring:9090'
        {% else %}
        enabled: true
        federation:
          jobOverride: true
          jobConfiguration: |
            - job_name: 'federate-victoria'
              scrape_interval: 1m
              honor_labels: true
              metrics_path: '/select/0/prometheus/federate'
              params:
                'match[]':
                  - '{job="kubernetes-nodes",namespace="{{ vnflcm.namespace }}"}'
                  - '{job="kubernetes-nodes-cadvisor",namespace="{{ vnflcm.namespace }}"}'
              static_configs:
                - targets:
                  - 'eric-victoria-metrics-cluster-vmselect.monitoring:8481'
        {% endif %}
  eric-sec-admin-user-management:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    notices:
      legal: "IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY"
      privacy: >
        This system processes personal information. Handle personal information
        with care.  Misuse, including unauthorized access, is grounds for legal
        action. Version: 1.0, Date: October 27, 2020.
  eric-sec-certm:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sec-key-management:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sec-ldap-server:
    nodeSelector:
      ldap: {}
      #  ericsson-5gc-se/vnf: ccsm
      ldapAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      storageClassName: {{ storageClassName }}
  eric-sec-sip-tls:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-si-application-sys-info-handler:
    asih:
      ##
      # It is the main OaM identifier of Application and it is used to support
      # correlation among different functionalities visible to the Operator
      # like logs, metrics, alarms, CLI prompt just to mention some.
      # Format: Must contains 1..32 printable ASCII characters that contains only
      #   lowercase alphanumeric characters, '-' or '.', starts and ends with
      #   an alphanumeric character.
      applicationId: "{{ nodeName }}"
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sw-inventory-manager:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-tm-ingress-controller-cr:
    nodeSelector:
      contour: {}
      #  ericsson-5gc-se/vnf: ccsm
      envoy: {}
      #  ericsson-5gc-se/vnf: ccsm
    service:
      {% if caas == 'Tanzu' %}
      annotations:
        cloudProviderLB:
          aviinfrasetting.ako.vmware.com/name: oam-pool
          ako.vmware.com/enable-shared-vip: oam-ccsm-shared
          ako.vmware.com/load-balancer-ip: {{ ccsm.ccsmOamVip }}
      {% else %}
      annotations:
        addressPoolName: "ccsm{{ instance }}-oam"
        sharedVIPLabel: "ccsm-oam"
      {% endif %}
    {% if caas == 'OpenShift' or (caas == 'CNIS' and systemProfile == 'standard') %}
    # According ADP Service User Guide
    resources:
      contour:
        limits:
          cpu: 300m
          memory: 1000Mi
      envoy:
        limits:
          cpu: "2"
          memory: 600Mi
    {% endif %}
    {% if systemProfile == 'small' %}
    # According to ADP Service User Guide
    resources:
      contour:
        limits:
          memory: 600Mi
      envoy:
        limits:
          memory: 600Mi
    {% endif %}

# Overwrite networkPolicy enabling here
networkPolicy:
  enabled: true

# Overwrite the NRF-Agent Helm values here
eric-ccsm-nrfagent:
  global:
    tapagent:
      {% if caas == 'OpenShift' or systemProfile == 'small' %}
      enabled: false
      {% else %}
      enabled: true
      {% endif %}
      {% if systemProfile == 'small' %}
      egress_exclude_ips: "10.255.0.0/16,192.168.0.0/16"
      {% else %}
      egress_exclude_ips: "10.96.0.0/12,192.168.0.0/16"
      {% endif %}

eric-ccsm-datainjector:
  nfHandling:
    failover:
      errorHttpServiceUnavailableAsFailNudmUecm: "off"
      errorHttpServiceUnavailableAsFailNamfLcs: "off"
      errorHttpServiceUnavailableAsFailNamfEvts: "off"
