<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Notice that it is a configuration template in XML format
  compliant with NF YANG model.  This XML template provides
  a configuration skeleton that shall be modified before
  loading into the yang service.  Some parts of the document
  must be deleted or added depending on the network configuration
  where the VNF will be deployed.
-->
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <!--
        Configuration for the UDM Network Function.
      -->
      <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
        <!--
          States the URI of the UDM Nework Function
          (for registering the UDM NF in the NRF NF).
        -->
        <udm-uri>https://{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}:{{ ccsm.udm.port }}</udm-uri>
        <!-- States the list of Home PLMNs -->
        <home-plmn>
          <!--
            The default Home PLMN.
            The length of mcc is 3 digits and mnc is 2 or 3 digits.
          -->
          <default-home-plmn-id>
            <mcc>{{ mcc }}</mcc>
            <mnc>{{ mnc }}</mnc>
          </default-home-plmn-id>
          <!--
            Identifier of the Home PLMNs.
            The length of mcc is 3 digits and mnc is 2 or 3 digits.
          -->
          <home-plmn>
            <mcc>{{ mcc }}</mcc>
            <mnc>{{ mnc }}</mnc>
          </home-plmn>
          <!-- <home-plmn> -->
            <!-- <mcc>333</mcc> -->
            <!-- <mnc>44</mnc> -->
          <!-- </home-plmn> -->
        </home-plmn>
        <!-- Container roaming -->
        <roaming>
          <!-- States the list of Visited PLMNs -->
          <visited-plmn>
            <!--
              States whether White List (allowed PLMNs) or black list (not allowed PLMNs),
              by defult it will be a white list (true)
            -->
            <allowed>true</allowed>
            <!--
              Identifier of the Visited PLMNs.
              The length of mcc is 3 digits and mnc is 2 or 3 digits.
            -->
            <visited-plmn>
              <mcc>{{ mcc }}</mcc>
              <mnc>{{ mnc }}</mnc>
            </visited-plmn>
            <!-- <visited-plmn> -->
              <!-- <mcc>777</mcc> -->
              <!-- <mnc>88</mnc> -->
            <!-- </visited-plmn> -->
          </visited-plmn>
        </roaming>
        <!--
          Container hss-irat-4g-5g for the HSS Interworking Configuration.
        -->
        <!-- <hss-irat-4g-5g> -->
            <!--
            imsi-prefix for different profile
            -->
            <!-- <remote-hss-service-imsi> -->
                <!-- <imsi-prefix>20214</imsi-prefix> -->
                <!-- <remote-hss-service-profile-id>9502</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-imsi> -->
            <!-- <remote-hss-service-imsi> -->
                <!-- <imsi-prefix>202144</imsi-prefix> -->
                <!-- <remote-hss-service-profile-id>9501</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-imsi> -->
            <!-- <remote-hss-service-imsi> -->
                <!-- <imsi-prefix>2021445</imsi-prefix> -->
                <!-- <remote-hss-service-profile-id>8084</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-imsi> -->
            <!-- <remote-hss-service-imsi> -->
                <!-- <imsi-prefix>20214456</imsi-prefix> -->
                <!-- <remote-hss-service-profile-id>8080</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-imsi> -->
            <!-- <remote-hss-service-imsi> -->
                <!-- <imsi-prefix>202149</imsi-prefix> -->
                <!-- <remote-hss-service-profile-id>8084</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-imsi> -->
            <!--
            States the definition of HSS remote service.
            A list of HSS URIs (one URI per HSS) per priority.
            -->
            <!-- <remote-hss-service-default> -->
                <!-- <remote-hss-service-profile-id>9500</remote-hss-service-profile-id> -->
            <!-- </remote-hss-service-default> -->
            <!-- <remote-hss-service-profile> -->
                <!-- <id>9500</id> -->
                <!-- <remote-hss-service> -->
                    <!-- <id>0</id> -->
                    <!-- <priority>0</priority> -->
                    <!-- <ip-endpoint> -->
                        <!-- <id>1</id> -->
                        <!-- <transport>tcp</transport> -->
                        <!-- <port>{UDM_PORT}</port> -->
                        <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
                    <!-- </ip-endpoint> -->
                <!-- </remote-hss-service> -->
            <!-- </remote-hss-service-profile> -->
            <!-- <remote-hss-service-profile> -->
                <!-- <id>9501</id> -->
                <!-- <remote-hss-service> -->
                    <!-- <id>0</id> -->
                    <!-- <priority>0</priority> -->
                    <!-- <ip-endpoint> -->
                        <!-- <id>1</id> -->
                        <!-- <transport>tcp</transport> -->
                        <!-- <port>{UDM_PORT}</port> -->
                        <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
                    <!-- </ip-endpoint> -->
                <!-- </remote-hss-service> -->
            <!-- </remote-hss-service-profile> -->
            <!-- <remote-hss-service-profile> -->
                <!-- <id>9502</id> -->
                <!-- <remote-hss-service> -->
                    <!-- <id>0</id> -->
                    <!-- <priority>0</priority> -->
                    <!-- <ip-endpoint> -->
                        <!-- <id>1</id> -->
                        <!-- <transport>tcp</transport> -->
                        <!-- <port>{UDM_PORT}</port> -->
                        <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
                    <!-- </ip-endpoint> -->
                <!-- </remote-hss-service> -->
            <!-- </remote-hss-service-profile> -->
            <!-- <remote-hss-service-profile> -->
                <!-- <id>8080</id> -->
                <!-- <remote-hss-service> -->
                    <!-- <id>0</id> -->
                    <!-- <priority>0</priority> -->
                    <!-- <ip-endpoint> -->
                        <!-- <id>1</id> -->
                        <!-- <transport>tcp</transport> -->
                        <!-- <port>{UDM_PORT}</port> -->
                        <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
                    <!-- </ip-endpoint> -->
                <!-- </remote-hss-service> -->
            <!-- </remote-hss-service-profile> -->
            <!-- <remote-hss-service-profile> -->
                <!-- <id>8084</id> -->
                <!-- <remote-hss-service> -->
                    <!-- <id>0</id> -->
                    <!-- <priority>0</priority> -->
                    <!-- <ip-endpoint> -->
                        <!-- <id>1</id> -->
                        <!-- <transport>tcp</transport> -->
                        <!-- <port>{UDM_PORT}</port> -->
                        <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
                    <!-- </ip-endpoint> -->
                <!-- </remote-hss-service> -->
            <!-- </remote-hss-service-profile> -->
            <!--
              The max number of consecutive reattempts when a response
              is not received for a request.
            -->
            <!-- <max-number-of-message-retries>4</max-number-of-message-retries> -->
            <!-- Maximum time (in microseconds) waiting for an HTTP answer from HSS. -->
            <!-- <requested-timeout>900</requested-timeout> -->
            <!-- Maximum number of long-live connections. -->
            <!-- <max-number-of-long-live-con>90</max-number-of-long-live-con> -->
        <!-- </hss-irat-4g-5g> -->
        <!-- Container nf-profile state the Network Function profile -->
        <nf-profile>
          <!-- NF uuid -->
          <instance-id>{{ ccsm.udm.instanceId }}</instance-id>
          <!--
            NF Status: enum (registered, suspended, deregistered)
          -->
          <requested-status>registered</requested-status>
          <!-- NF fqdn -->
          <fqdn>{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}</fqdn>
          <!-- States the UDM NF information -->
          <priority>1</priority>
          <locality>{{ locality }}</locality>
          <udm-info>
            <!--
              States the list of SUPI ranges:
              If supi-start and supi-end are not defined,
              it will accept all SUPIs
            -->
            {# The group-id shall be aligned with UDR, refer to IA55089 for details #}
            <group-id>1</group-id>
            <supi-range>
              <id>1</id>
              <supi-start>240810000000000</supi-start>
              <supi-end>240819999999999</supi-end>
            </supi-range>
            <!-- <supi-range> -->
              <!-- <id>2</id> -->
              <!-- <supi-start>240820000000000</supi-start> -->
              <!-- <supi-end>240829999999999</supi-end> -->
            <!-- </supi-range> -->
            <!--
              States the list of GPSI ranges:
              If gpsi-start and gpsi-end are not defined,
              it will accept all GPSIs
             -->
            <gpsi-range>
              <id>1</id>
              <identity-start>491720000000000</identity-start>
              <identity-end>491729999999999</identity-end>
            </gpsi-range>
            <!-- <gpsi-range> -->
              <!-- <id>2</id> -->
              <!-- <identity-start>860820000000000</identity-start> -->
              <!-- <identity-end>860829999999999</identity-end> -->
            <!-- </gpsi-range> -->
            <!-- Routing indicator -->
            <routing-indicator>0</routing-indicator>
          </udm-info>
          <!--
            List of Service containers that the VNF exposes.
            - instance-id: Unique service instance id
            - name: Service name
            - scheme: http or https
            - fqdn: Fully Qualified Domain Name
            - ip-endpoint: IP addresse and port information of the
              exposed service (including IPv4 and/or IPv6 address)
            - allowed-nf-type: NFs allowed to consume the service
          -->
          <service>
            <instance-id>nudm-uecm</instance-id>
            <name>nudm-uecm</name>
            <scheme>https</scheme>
            <requested-status>registered</requested-status>
            <fqdn>{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}</fqdn>
            <default-notification-subscription>
              <notification-type>data-removal-notification</notification-type>
              <callback-uri>https://{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}:{{ ccsm.udm.port }}/nudm-notifications/v2/sdm</callback-uri>
            </default-notification-subscription>
            <ip-endpoint>
              <id>1</id>
              <!--<ipv4-address>{UDM_IPv4}</ipv4-address>-->
              <transport>tcp</transport>
              <port>{{ ccsm.udm.port }}</port>
            </ip-endpoint>
            <allowed-nf-type>amf</allowed-nf-type>
            <allowed-nf-type>smf</allowed-nf-type>
            <allowed-nf-type>smsf</allowed-nf-type>
            <allowed-nf-type>udr</allowed-nf-type>
          </service>
          <service>
            <instance-id>nudm-sdm</instance-id>
            <name>nudm-sdm</name>
            <scheme>https</scheme>
            <requested-status>registered</requested-status>
            <fqdn>{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}</fqdn>
            <ip-endpoint>
              <id>1</id>
              <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
              <transport>tcp</transport>
              <port>{{ ccsm.udm.port }}</port>
            </ip-endpoint>
            <allowed-nf-type>amf</allowed-nf-type>
            <allowed-nf-type>smf</allowed-nf-type>
            <allowed-nf-type>smsf</allowed-nf-type>
          </service>
          <service>
            <instance-id>nudm-ueau</instance-id>
            <name>nudm-ueau</name>
            <scheme>https</scheme>
            <requested-status>registered</requested-status>
            <fqdn>{{ ccsm.udm.host }}.{{ DOMAIN_3GPP_5GC }}</fqdn>
            <ip-endpoint>
              <id>1</id>
              <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
              <transport>tcp</transport>
              <port>{{ ccsm.udm.port }}</port>
            </ip-endpoint>
            <allowed-nf-type>ausf</allowed-nf-type>
          </service>
          <!--
            The configuration of service nudm-mt is applicable
            when HSS supports service discovery.
          -->
          <!-- <service> -->
            <!-- <instance-id>nudm-mt</instance-id> -->
            <!-- <name>nudm-mt</name> -->
            <!-- <scheme>https</scheme> -->
            <!-- <requested-status>registered</requested-status> -->
            <!-- <fqdn>{UDM_FQDN}</fqdn> -->
            <!-- <ip-endpoint> -->
              <!-- <id>1</id> -->
              <!-- <ipv4-address>{UDM_IPv4}</ipv4-address> -->
              <!-- <transport>tcp</transport> -->
              <!-- <port>{UDM_PORT}</port> -->
            <!-- </ip-endpoint> -->
            <!-- <allowed-nf-type>hss</allowed-nf-type> -->
          <!-- </service> -->
        </nf-profile>
      </udm>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
