{
        "instance": "{{'CCDM_PF_MAPI' if geored.udr.enabled else 'CCDM_PF_MAPI_1'}}",
	"instanceType": "{{'NetworkElementGroup' if geored.udr.enabled else 'NetworkElement'}}",
	"networkElementType": "PCF",
	"routingMethod": "UnconditionalRouting"
}
