{
	"instance": "{{'CCDM_UDR_LDAP' if geored.udr.enabled else 'CCDM_UDR_LDAP_1'}}",
	"instanceType": "{{'NetworkElementGroup' if geored.udr.enabled else 'NetworkElement'}}",
	"networkElementType": "UDR_AUC",
	"routingMethod": "UnconditionalRouting"
}
