autowizard false
config
epg node feature-activation epc-5g
epg node feature-activation smf-5gc
epg node feature-activation integrated-traffic-capture
epg pgw feature-activation n7-preliminary-features
epg node node-type gw-c
epg node uetrace publish-interval 5

epg sgw node {{ nodeName }}-sgwc
epg sgw interface s5s8-c logical-interface sgwc_s5s8_c
epg sgw interface sx logical-interface sgwc_sxa
epg sgw interface sx co-located-upf
epg sgw interface s4s11-c logical-interface sgwc_s11_c
epg sgw user-plane node-name sgwu1
 pfcp-address {{ pcc.pcsm.sgwuPfcpAddress | ip_address }}
 s1s4s12-u network-instance ran
 s11-u network-instance media
 s5s8-u network-instance media
epg sgw user-plane-pool pool internal-sgwu1-pool
 node-name sgwu1
epg sgw user-plane-selection default-pool internal-sgwu1-pool
epg pgw node {{ nodeName }}-smfpgwc
epg pgw ggsn-plmn-id {{ mcc|mcc }}{{ mnc|mnc }}
epg pgw snssai slice-service-type 1
epg pgw snssai slice-differentiator 000002
epg pgw shared-ip-pool internet_pool
 address {{ pcc.pcsm.internetPool.ipv4 | ip_network }}
 !
 ipv6-address {{ pcc.pcsm.internetPool.ipv6 | ip_network }}
 !
!
epg pgw shared-ip-pool ims_pool
 address {{ pcc.pcsm.imsPool.ipv4 | ip_network }}
 !
 ipv6-address {{ pcc.pcsm.imsPool.ipv6 | ip_network }}
 !
!
epg pgw ipv6-router-advertisement maximum-interval 21600
epg pgw ipv6-router-advertisement minimum-interval 16200
epg pgw ipv6-router-advertisement maximum-initial-interval 10
epg pgw ipv6-router-advertisement maximum-initial-advertisements 3
epg pgw ipv6-router-advertisement link-local-interface-identifier ::1
epg pgw ipv6-router-advertisement reachable-time 0
epg pgw ipv6-router-advertisement retransmission-timer 0
epg pgw ipv6-router-advertisement router-lifetime 21840
epg pgw ipv6-router-advertisement current-hop-limit 64

epg pgw apn internet
 network-instance internet
 routing-instance internet
 user-profile-selection gx-profile default gx-1
 user-profile-selection n7-profile default n7-1
 user-profile-selection local-policy-control-profile default lpc_profile1
 user-profile-selection policy-charging-rule-scope default pc_ruleScope1
 pdp-context creation    unblocked
 pdp-context pdp-type ipv4v6
 pdp-context address-allocation shared-ip-pool
 pdp-context limit  10000000
epg pgw apn ims
 network-instance internet
 routing-instance internet
 user-profile-selection gx-profile default gx-1
 user-profile-selection n7-profile default n7-1
 user-profile-selection local-policy-control-profile default lpc_profile1
 user-profile-selection policy-charging-rule-scope default pc_ruleScope1
 pdp-context pdp-type ipv4v6
 pdp-context address-allocation shared-ip-pool
 pdp-context limit  10000000
epg pgw charging characteristics default-complete-cc 0000
epg pgw charging characteristics ignore-profile-from-serving-node
epg pgw charging characteristics profile0
!
epg pgw user-plane node-name upf1
 pfcp-address {{ pcc.pcsm.upfPfcpAddress }}
 s5s8-u network-instance media
 n3 network-instance ran
 sx-u network-instance signaling
 co-located
 ip-selection-condition condition1
  data-network              [ internet ]
  selected-shared-ipv4-pool internet_pool
  selected-shared-ipv6-pool internet_pool
 !
 ip-selection-condition condition2
  data-network              [ ims ]
  selected-shared-ipv4-pool ims_pool
  selected-shared-ipv6-pool ims_pool
 !
!
epg pgw user-plane-pool pool up-pool0
 node-name upf1
 !
!
epg pgw user-plane-selection default-pool up-pool0
epg pgw user-plane-selection selection-condition condition1
 data-network  [ internet ]
 selected-pool up-pool0
!
epg pgw user-plane-selection selection-condition condition2
 data-network  [ ims ]
 selected-pool up-pool0
!
epg pgw interface sx logical-interface sxb-if
epg pgw interface sx-u logical-interface sxb-if
epg pgw interface s5s8-c logical-interface gn-s5s8-c
epg pgw interface s5s8-c no-path-management
epg pgw interface s5s8-c no-peer-restart
epg pgw pdp-context limit 10000000
epg pgw policy-control gx-failure-profile fp1
 session-handling default-ccr-initial-failure-action fp1ccri
 session-handling default-ccr-update-failure-action fp1ccru
 session-handling connection-failure-action fp1action
 session-handling action fp1action
  continue reestablish
 !
 session-handling action fp1ccri
  continue reestablish
 !
 session-handling action fp1ccru
  continue reestablish
 !
!
epg pgw policy-control n7-profile n7-1
!
epg pgw policy-control gx-profile gx-1
 diameter-application-system pcrf1
 failure-profile             fp1
 subscription-id             imsi
epg pgw policy-control rule-scope policy_ruleScope1
 pcc-rule acr-unconditional
  application  app100
  rating-group 255
  precedence   255
 !
!
epg pgw policy-control local profile lpc_profile1
 unconditional pcc-rule [ acr-unconditional ]
!
epg pgw charging-control rule-scope charging_ruleScope1
!
epg pgw policy-charging-rule-scope pc_ruleScope1
 policy-control   policy_ruleScope1
 charging-control charging_ruleScope1
!
epg pgw diameter realm epc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw diameter host-name {{ nodeName }}-pgwc.epc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw diameter number-of-hosts 2
epg pgw diameter peer pcrf1
 address [ {{ pcc.pcsm.pcrfDiameterAddress }} ]
 port    3868
!
epg pgw diameter diameter-application-system pcrf1
 destination-realm epc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
 application-id    pcc
 peer pcrf1
  priority 25
 !
epg pgw sbi amf logical-interface amf-service-if
epg pgw sbi amf connection-client-profile client-profile-2
epg pgw sbi amf notification logical-interface amf-notify-if fqdn {{ pcc.pcsm.smfSbiNotifyHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw sbi amf notification port 4040
epg pgw sbi amf notification server-profile server-profile-1
epg pgw sbi pcf logical-interface pcf-service-if
epg pgw sbi pcf connection-client-profile client-profile-1
epg pgw sbi pcf notification logical-interface pcf-notify-if fqdn {{ pcc.pcsm.smfSbiNotifyHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw sbi pcf notification port 6060
epg pgw sbi pcf notification server-profile server-profile-1
epg pgw sbi smf-services fqdn {{ pcc.pcsm.smfSbiNsmfHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw sbi smf-services register-with-no-ip-address
epg pgw sbi smf-services service nsmf-pdusession register-with-no-ip-address
epg pgw sbi connection-client-profile client-profile-1
 transport-layer-security no-transport-layer-security
 stream-id-threshold-for-new-connection 80
 max-concurrent-streams                 1000
 number-of-connection                   12
 request-timeout                        2
 idle-timeout                           60
 connection-down-retry-times            1
 request-timeout-retry-times            1
!
epg pgw sbi connection-client-profile client-profile-2
 transport-layer-security no-transport-layer-security
 stream-id-threshold-for-new-connection 80
 max-concurrent-streams                 1000
 number-of-connection                   12
 request-timeout                        3
 idle-timeout                           60
 connection-down-retry-times            1
 request-timeout-retry-times            1
!

epg pgw sbi udm logical-interface udm-service-if
epg pgw sbi udm connection-client-profile client-profile-1
epg pgw sbi udm notification logical-interface udm-notify-if fqdn {{ pcc.pcsm.smfSbiNotifyHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw sbi udm notification port 5050
epg pgw sbi udm notification server-profile server-profile-1
epg pgw sbi nrf logical-interface nrf-service-if
epg pgw sbi nrf connection-client-profile client-profile-1
epg pgw sbi nrf notification logical-interface nrf-notify-if fqdn {{ pcc.pcsm.smfSbiNotifyHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
epg pgw sbi nrf notification port 7070
epg pgw sbi nrf notification server-profile server-profile-1
epg pgw sbi nrf service nnrf-disc
 nfservice-instance nnrf-disc-ins1
  priority  1
  fqdn      {{ nrf.0.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
  fqdn-port {{ nrf.0.port }}
 !
!
epg pgw sbi nrf service nnrf-nfm
 nfservice-instance nnrf-nfm-ins1
  priority  1
  fqdn      {{ nrf.0.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
  fqdn-port {{ nrf.0.port }}
 !
!
{% if nrfGeo %}
epg pgw sbi nrf service nnrf-disc
 nfservice-instance nnrf-disc-ins2
  priority  2
  fqdn      {{ nrf.1.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
  fqdn-port {{ nrf.1.port }}
 !
!
epg pgw sbi nrf service nnrf-nfm
 nfservice-instance nnrf-nfm-ins2
  priority  2
  fqdn      {{ nrf.1.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
  fqdn-port {{ nrf.1.port }}
 !
!
{% endif %}
epg pgw sbi smf-services locality {{ locality }}
epg pgw apn internet nrf-discovery service-npcf-smpolicycontrol discovery-parameters preferred-locality
epg pgw apn ims nrf-discovery service-npcf-smpolicycontrol discovery-parameters preferred-locality
epg pgw sbi pcf service-npcf-smpolicycontrol discovery-parameters preferred-locality
epg pgw sbi udm service-nudm-sdm discovery-parameters preferred-locality
epg pgw sbi udm service-nudm-uecm discovery-parameters preferred-locality
epg pgw sbi smf-services logical-interface smf-service-if
epg pgw sbi smf-services nf-instance-id {{ pcc.pcsm.smfInstanceId }}
epg pgw sbi smf-services server-profile server-profile-1
epg pgw sbi smf-services service nsmf-pdusession
 authorization allowed-nf {{ pcc.pcsm["allowed-nf"]|default("[ AMF ]") }}
 fqdn {{ pcc.pcsm.smfSbiNsmfHost }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
 port [ 443 ]
!
epg pgw sbi connection-server-profile server-profile-1
 max-concurrent-streams   1000
 max-pending-transactions 10000
 transport-layer-security no-transport-layer-security
!
epg node vpn-gw address {{ pcc.vpngw.loopback.ipv4 }}
epg node interface gom-c logical-interface gom-c-if

epg pgw dns enabled
epg pgw dns supervision-record-name 5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org.
epg pgw dns logical-interface dns-service-if
{% for dnsAddr in dnsServer %}
epg pgw dns server {{ dnsAddr }}
 address {{ dnsAddr }}
!
{% endfor %}
epg node logical-interface dns-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface amf-notify-if
 routing-instance default
 address          1.1.1.2
!
epg node logical-interface amf-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface gn-s5s8-c
 routing-instance {{ pcc.pcsm.smLogicalInt.pgwS5s8c.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.pgwS5s8c.ipv4 | ip_address }}
 vpn-gw           true
!
epg node logical-interface gom-c-if
 routing-instance {{ pcc.pcsm.smLogicalInt.gomc.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.gomc.ipv4 | ip_address }}
 vpn-gw           true
!
epg node logical-interface nrf-notify-if
 routing-instance default
 address          1.1.1.2
!
epg node logical-interface nrf-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface pcf-notify-if
 routing-instance default
 address          1.1.1.2
!
epg node logical-interface pcf-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface smf-notify-if
 routing-instance default
 address          1.1.1.2
!
epg node logical-interface smf-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface sxb-if
 routing-instance {{ pcc.pcsm.smLogicalInt.sxb.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.sxb.ipv4 | ip_address }}
 vpn-gw           true
!
epg node logical-interface udm-notify-if
 routing-instance default
 address          1.1.1.2
!
epg node logical-interface udm-service-if
 routing-instance default
 address          1.1.1.1
!
epg node logical-interface sgwc_s11_c
 routing-instance {{ pcc.pcsm.smLogicalInt.s4s11c.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.s4s11c.ipv4 | ip_address }}
 vpn-gw           true
epg node logical-interface sgwc_s5s8_c
 routing-instance {{ pcc.pcsm.smLogicalInt.sgwS5s8c.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.sgwS5s8c.ipv4 | ip_address }}
 vpn-gw           true
epg node logical-interface sgwc_sxa
 routing-instance {{ pcc.pcsm.smLogicalInt.sxa.networkInstance }}
 address          {{ pcc.pcsm.smLogicalInt.sxa.ipv4 | ip_address }}
 vpn-gw           true
!
epg routing-instances routing-instance default
!
epg routing-instances routing-instance internet
!
{% for ri in pcc.vpngw.networkInstances %}
epg routing-instances routing-instance {{ ri.name }}
 vlan-id {{ ri.ipForward.vlan }}
!
{% endfor %}

commit
end

