{
  "clusterName": "{{ vnflcm.clusterName }}",
  "additionalParams": {
    "namespace": "{{ vnflcm.namespace }}",
     "applicationTimeOut": "1800",
     "skipJobVerification": "false",
     "skipVerification": "false"
  }
}