<?xml version="1.0" encoding="UTF-8"?>
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>urn:ietf:params:netconf:base:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:confirmed-commit:1.1</capability>
<capability>urn:ietf:params:netconf:capability:confirmed-commit:1.0</capability>
<capability>urn:ietf:params:netconf:capability:candidate:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:rollback-on-error:1.0</capability>
    </capabilities>
</hello>
]]>]]>
<rpc message-id="1" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>iccr-external-tls-key</name>
                    <certificate-name>iccr-external-tls-certificate</certificate-name>
                    <p12>{{ certs['iccr-external-tls-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['iccr-external-tls-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="2" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nrf-sbi-server-certs-cacerts</name>
                    <description>trusted certs description</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="2" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nrf-sbi-server-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="3" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nrf-sbi-server-key</name>
                    <certificate-name>eric-ccrc-nrf-sbi-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nrf-sbi-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nrf-sbi-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="4" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nrf-sbi-client-certs-cacerts</name>
                    <description>trusted certs description</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="4" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nrf-sbi-client-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>ca-chain.cert.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="5" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nrf-sbi-client-key</name>
                    <certificate-name>eric-ccrc-nrf-sbi-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nrf-sbi-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nrf-sbi-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="6" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nssf-sbi-server-certs-cacerts</name>
                    <description>trusted certs description</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="6" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nssf-sbi-server-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="7" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nssf-sbi-server-key</name>
                    <certificate-name>eric-ccrc-nssf-sbi-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nssf-sbi-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nssf-sbi-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="8" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nssf-sbi-client-certs-cacerts</name>
                    <description>trusted certs description</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="8" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nssf-sbi-client-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>ca-chain.cert.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="9" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nssf-sbi-client-key</name>
                    <certificate-name>eric-ccrc-nssf-sbi-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nssf-sbi-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nssf-sbi-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="10" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nssf-provisioning-server-certs-cacerts</name>
                    <description>trusted certs description</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="10" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nssf-provisioning-server-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="11" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nssf-provisioning-server-key</name>
                    <certificate-name>eric-ccrc-nssf-provisioning-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nssf-provisioning-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nssf-provisioning-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
{% if geored.nrf.enabled %}
]]>]]>
<rpc message-id="12" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nrf-kvdb-server-certs-cacerts</name>
                    <description>trusted kvdb-server-certs-cacerts</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="12" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nrf-kvdb-server-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="13" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nrf-kvdb-server-key</name>
                    <certificate-name>eric-ccrc-nrf-kvdb-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nrf-kvdb-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nrf-kvdb-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="14" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nrf-kvdb-client-certs-cacerts</name>
                    <description>trusted kvdb-client-certs-cacerts</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="14" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nrf-kvdb-client-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>ca.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="15" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nrf-kvdb-client-key</name>
                    <certificate-name>eric-ccrc-nrf-kvdb-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nrf-kvdb-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nrf-kvdb-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
{% endif %}
{% if geored.nssf.enabled %}
]]>]]>
<rpc message-id="16" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nssf-kvdb-server-certs-cacerts</name>
                    <description>trusted kvdb-server-certs-cacerts</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="16" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nssf-kvdb-server-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="17" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nssf-kvdb-server-key</name>
                    <certificate-name>eric-ccrc-nssf-kvdb-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nssf-kvdb-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nssf-kvdb-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="18" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccrc-nssf-kvdb-client-certs-cacerts</name>
                    <description>trusted kvdb-client-certs-cacerts</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <commit/>
</rpc>
]]>]]>
<rpc message-id="18" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccrc-nssf-kvdb-client-certs-cacerts</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>ca.pem</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="19" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccrc-nssf-kvdb-client-key</name>
                    <certificate-name>eric-ccrc-nssf-kvdb-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccrc-nssf-kvdb-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccrc-nssf-kvdb-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
{% endif %}
<close-session/>
