<?xml version="1.0" encoding="UTF-8"?>
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>urn:ietf:params:netconf:base:1.0</capability>
    </capabilities>
</hello>]]>]]>

<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="1">
    <edit-config>
        <target>
            <running/>
        </target>
        <config>
        <udr-application-counters xmlns="urn:rdns:com:ericsson:oammodel:ericsson-app-counters-udr">
    <active-site>1</active-site>
    <counter-group>
      <name>GRP_HssEsmUsersLocation</name>
      <description>Counters for the number of HSS-EPC users located in the HSS application</description>
      <administrative-state>locked</administrative-state>
      <data-type>ldap-entry</data-type>
      <counter>
        <name>TotalNumberOfEpsUsersLocated</name>
        <description>The number of EPS users currently located</description>
        <condition>EpsDynInf is present and EpcLocState=1</condition>
        <administrative-state>locked</administrative-state>
        <data-subtype>mscId</data-subtype>
        <rule>(EpsDynInf.EpsLocState = 1)</rule>
      </counter>
      <counter>
        <name>TotalNumberOfEpsUsersPurged</name>
        <description>The number of EPS users currently purged</description>
        <condition>EpsDynInf is present and EpcLocState=2</condition>
        <administrative-state>locked</administrative-state>
        <data-subtype>mscId</data-subtype>
        <rule>(EpsDynInf.EpsLocState = 2)</rule>
      </counter>
    </counter-group>
    <counter-group>
      <name>GRP_HssEsmUsersStored</name>
      <description>Counters for the number of EPS users stored in the HSS application</description>
      <administrative-state>locked</administrative-state>
      <data-type>ldap-entry</data-type>
      <counter>
        <name>TotalNumberOfEpsUsersStored</name>
        <description>The number of EPS users</description>
        <condition>EpsStaticInf is present</condition>
        <administrative-state>locked</administrative-state>
        <data-subtype>mscId</data-subtype>
        <rule>(EpsStaticInf.EpsStaInfId != null)</rule>
      </counter>
    </counter-group>
        </udr-application-counters>
        </config>
    </edit-config>
</rpc>