{% raw -%}
#External values file
#Please set up the values regarding to deployment which you want to deploy
#In some variable values there are small-telco and std-telco suggestion you can recognize it by comment {{small-telco value|std-telco value}}
#The exact value for those variables is result of dimensioning exercise
#Please remove curly brackets {{}} surrounding the final value to set it right
{% endraw %}


global:
  #Possible deployments [small-telco(ex. 10k), std-telco(ex. 1m), clear-text(ex. non-mtls), mtls]. Enable only one dimensioning profile and one security profile
  jwtPolicy: {{ jwtPolicy|default("first-party-jwt") }}
  timezone: {{ timezone }}
  security:
    policyBinding:
      create: false  # Default is false
      defaultAdpBinding: true
    policyReferenceMap:
      default-restricted-security-policy: default-restricted-security-policy
      plc-privileged-for-istio: plc-privileged-for-istio
      plc-privileged-for-udr: plc-privileged-for-udr
      plc-privileged-for-adp: plc-privileged-for-adp
      plc-dd66cc53d8554f93ad34971900932e: plc-dd66cc53d8554f93ad34971900932e
      plc-e393f1841dfc4cbcca713b5a97eb83: plc-e393f1841dfc4cbcca713b5a97eb83
      plc-9c20871f9bf62c7b09fd0c684ac651: plc-9c20871f9bf62c7b09fd0c684ac651
      plc-36423e2b44b23b9899da4fccf492e6: plc-36423e2b44b23b9899da4fccf492e6
      plc-38dc0a0ee2b2564ef10039d2c6c0e0: plc-38dc0a0ee2b2564ef10039d2c6c0e0
      plc-59d0cf1dcc793a78b6ce30bfbe6553: plc-59d0cf1dcc793a78b6ce30bfbe6553
  profiles:
    small-telco:
      enabled: false
    std-telco:
      enabled: true
    cleartext:
      enabled: false
    mtls:
      enabled: true

  applicationId: {{ nodeName }}
  domainName: {{ vnflcm.clusterName }}.{{ oamDomain }}
  clusterName: {{ vnflcm.namespace }}
  enableCrashDumps: true
  ericsson:
    licensing:
      licenseDomains:
        - productType: "CCDM"
          customerId: "{{ license.customerId }}"
          swltId: "{{ license.swltId }}"
  ipStackMode: "ipv4"
  #for supporting new pull secret levels
  pullSecret: null
  # global registry
  registry:
    url: null
    pullSecret: null
    imagePullPolicy: IfNotPresent # Default is IfNotPresent
  imageCredentials:
    pullPolicy: IfNotPresent # Default is IfNotPresent


#  FOR MTLS, REMOVE COMMENT
  istio:
    # UDM MESH WA: select IPv4 address or IPv6 address for IPv6 deployments
    {% if kubernetes_service_ipaddress %}
    kubernetes_service_ipaddress: {{ kubernetes_service_ipaddress }}
    {% else %}
    {%- raw %}
    #  kubernetes_service_ipaddress: {{10.96.0.1|2001:14ba:9ea:8800::ffff:1}}
    {% endraw %}
    {% endif %}
    # Global configuration for INGRESS/EGRESS mTLS enabled
    # - Global INGRESS configuration
    ingress:
      gateways:
        # eric-udr-traffic gateway configuring eric-ingressgw-udr-traffic service mesh ingress gateway
        # Ingress gateway for 5G Traffic (HTTP2) and 5G proxy multisite traffic HTTP2
        eric-udr-traffic-gw: # Gateway resource name.
          ports:
            https-mtls:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA
        # Ingress gateway for 5G Provisioning (HTTP2)
        eric-eda-provisioning-gw: # Gateway resource name.
          ports:
            https-mtls:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA
        # eric-ingress-udr-intersite
        # Ingress gateway for Zookeeper multisite coordination, KV Apache Geode replication, 5G Provisioning Proxy, Data Consistency Check and 4G/5G traffic for site to site communication
        eric-udr-intersite-gw:
          ports:
            https-papi-provisioning:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA
            tls-eric-udr-kvdb-ag-locators:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA
            tls-eric-udr-kvdb-ag-gateway-receivers:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA
            tls-eric-udr-zookeeper:
              settings:
                minProtocolVersion: TLSV1_2 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                maxProtocolVersion: TLSV1_3 # Values allowed [ TLSV1_1, TLSV1_2, TLSV1_3 ]
                # - DHE-RSA-AES128-GCM-SHA256 not supported by istio
                # Optional: If specified, only support the specified cipher list. Otherwise default to the default cipher list supported by Envoy
                cipherSuites:
                  - ECDHE-ECDSA-AES128-GCM-SHA256
                  - ECDHE-RSA-AES128-GCM-SHA256
                #  - ECDHE-ECDSA-AES128-SHA256
                #  - ECDHE-RSA-AES128-SHA256
                #  - ECDHE-ECDSA-AES128-SHA
                #  - ECDHE-RSA-AES128-SHA
                #  - AES128-GCM-SHA256
                #  - AES128-SHA256
                #  - AES128-SHA
                  - ECDHE-ECDSA-AES256-GCM-SHA384
                  - ECDHE-RSA-AES256-GCM-SHA384
                #  - ECDHE-ECDSA-AES256-SHA384
                #  - ECDHE-RSA-AES256-SHA384
                #  - ECDHE-ECDSA-AES256-SHA
                #  - ECDHE-RSA-AES256-SHA
                #  - AES256-GCM-SHA384
                #  - AES256-SHA256
                #  - AES256-SHA

    egress:
      # - CCDM egress endpoints
      endpoints:
        # EGRESS CCDM ENDPOINTS TO BE DEFINED
        # - Egress individual rules, one per CCDM peer.
        # -- CCSM, Nudm interface notifications
        eric-ccsm-sbi-traffic-mtls:
          enabled: false
           {%- raw %}
#          host: {{EGRESS-CCSM-HOST}}
#          addresses:
#            - {{EGRESS-CCSM-VIP}}
#          ports:
#            http2-port-for-mTLS-origination:
#              maxProtocolVersion: {{EGRESS-CCSM-MAXTLS}} # Values allowed [ TLSv1_2, TLSv1_3 ]
           {% endraw %}
        # -- CCPC, Npcf interface notifications
        eric-ccpc-sbi-traffic-mtls:
          enabled: false
           {%- raw %}
#          host: {{EGRESS-CCPC-HOST}}
#          addresses:
#            - {{EGRESS-CCPC-VIP}}
#          ports:
#            http2-port-for-mTLS-origination:
#              maxProtocolVersion: {{EGRESS-CCPC-MAXTLS}} # Values allowed [ TLSv1_2, TLSv1_3 ]
           {% endraw %}
        # -- CCRC, Nnr interface NRF registration/notifications
        eric-ccrc-sbi-traffic-mtls:
          enabled: false
           {%- raw %}
#          host: {{EGRESS-CCRC-HOST}}
#          addresses:
#            - {{EGRESS-CCRC-VIP}}
#          ports:
#            http2-port-for-mTLS-origination:
#              maxProtocolVersion: {{EGRESS-CCRC-MAXTLS}} # Values allowed [ TLSv1_2, TLSv1_3 ]
           {% endraw %}
        # -- CCxx wildcard, if EGRESS-WILDCARD enabled EGRESS-CCSM-ENABLED, EGRESS-CCRC-ENABLED and EGRESS-CCPC must be disabled.
        eric-wildcard-sbi-traffic-mtls:
          enabled: true
          host: "*.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org"
          ports:
            http2-port-for-mTLS-origination:
              maxProtocolVersion: TLSv1_3 # Values allowed [ TLSv1_2, TLSv1_3 ]
{% raw %}
#        # -- CCDM alternative site. This parameter is mandatory in case of the instantiation is due to an upgrade and the Upgrade Path is CCDM 1.3 to 1.5
#        eric-ccdm-sbi-remote-mtls:
#          enabled: {{EGRESS-CCDM-SBI-REMOTE-ENABLED}}
#          host: {{EGRESS-CCDM-SBI-REMOTE-HOST}}
#          addresses:
#            - {{EGRESS-CCDM-SBI-REMOTE-VIP}}
#          ports:
#            https-port-for-mTLS-origination:
#              maxProtocolVersion: {{EGRESS-CCDM-SBI-REMOTE-MAXTLS}} # Values allowed [ TLSv1_2, TLSv1_3 ]
#
#        # -- List of new remote endpoints where (m)TLS is enabled and it's not covered in the current list. Remove '# ' for enabling the element in the list. Repeat element format for more remote endpoints.
#        # Examples: New CCSM/CCPC/CCRC destinations where wildcard can not be used for identifying multiple destinations .
#        # <endpoint name>: # Free name but be careful that there has not been set previously.
#        #   enabled: true # Enable/Disable the service entry, values allowed [true, false].
#        #   host: "new.5gc.mnc310.mcc014.3gppnetwork.org" # FQDN or wildcard for new endpoint (it should not be defined before).
#        #   addresses: # Addresses is an optional field and it's only required for intersite, meaning communication among CCDM sites. Other destination should not define the address field.
#        #     - 127.0.0.1 # VIP resolution from host defined in the "host" parameter.
#        #   ports: # list of ports for the destination where mtls is required.
#        #   - port: 443 # Port number.
#        #     name: <protocol>-<port name> # For instance, https-newendpoint
#        #     protocol: TCP
#        #     mode: mTLS
#        #   resolution: NONE
{% endraw %}

  # Prov Funct global parameters
  activation:
    # ip protocol stack mode ipv6: true or false
    ipv6: false
    nodeSelector: {}

  # nodeSelector spec value
  nodeSelector: {}

eric-nrfagent:
  global:
    # ip protocol stack mode ipv6: ipv4 or ipv6
    ipStackMode: "ipv4"

# Provisioning Function
eric-act-ccdm:
  eric-act-proclog-cassandra-stasher:
    misc:
      proclog_stasher:
        replicaCount: 1

  eric-act-mapi-provisioning:
    misc:
      replicaCount: 3

  eric-act-user-data-activator:
    uda:
      misc:
        replicaCount: 3
        synchronizerCount: 2

  eric-act-oauth-token-validator:
    misc:
      replicaCount: 2

  eric-data-wide-column-database-cd:
    persistence:
      dataVolume:
        persistentVolumeClaim:
          {%- raw %}
          size: 32G
          {% endraw %}
          storageClassName: {{ storageClassName|default("network-block") }}
    # ip protocol stack mode ipv6: true or false
    resources:
      cassandra:
        network:
          useIPv6: false
    nodeSelector:
      bra: {}
      authJob: {}
      cassandra: {}
      tlsRestarter: {}
    replicaCount: 3

  eric-act-log-transformer:
    replicaCount: 1
    nodeSelector: {}

  eric-act-mb-kf:
    persistence:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
        size: 20Gi # same value for both deployments
    replicaCount: 4
    nodeSelector: {}

# ADP common components
eric-adp:
  eric-data-document-database-pg:
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector: {}
    #postgresConfig:
    #  huge_pages: "off" # possible values ["off","on","try"]

  eric-data-coordinator-zk:
    replicas: 3
    persistence:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector:
      brAgent: {}
      datacoordinatorzk: {}

  eric-pm-bulk-reporter:
    userConfig:
      ldap:
        useIPv6DNSFirst: false #true if using IPv6 stack mode
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        sharedVIPLabel: ccdm-oam
        addressPoolName: ccdm-oam
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
    env:
      # eccd_nodename: cluster name
      # nf_node_type, one of: NRF,UDM-AUSF,UDR,NSSF,5G_UDM (All the NFs within the same cluster)
      nodeName: {{ nodeName}}
      nodeType: 5G_UDM
      supportedGps: fifteen-min thirty-min one-hour twelve-hour one-day one-min five-min
    nodeSelector: {}

  eric-data-search-engine:
    persistence:
      data:
        persistentVolumeClaim:
          storageClassName: {{ storageClassName|default("network-block") }}
      master:
        persistentVolumeClaim:
          storageClassName: {{ storageClassName|default("network-block") }}
    # ip protocol stack mode ipv6: true or false
    service:
      network:
        protocol:
          IPv6: false
    nodeSelector:
      data: {}
      ingest: {}
      master: {}
      bragent: {}

  eric-sec-ldap-server:
    persistence:
      storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector:
      ldap: {}
      ldapAgent: {}

  eric-cnom-server:
    fqdn: cnom.{{ vnflcm.namespace }}.{{ vnflcm.clusterName }}.{{ oamDomain }}
    nodeSelector: {}
    legalNotice: "IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY\n\nThis system processes personal information. Handle personal information with care. Misuse, including unauthorized access, is grounds for legal action. Version: 1.0, Date: October 27, 2020."

  eric-cnom-document-database-mg:
    persistence:
      storageClass: {{ storageClassName|default("network-block") }}
    nodeSelector: {}

  eric-data-distributed-coordinator-ed:
    brAgent:
      enabled: true
    persistence:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
      brAgent:
        backupVolume:
          storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector:
      brAgent: {}
      dced: {}

  eric-cm-yang-provider:
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        sharedVIPLabel: ccdm-oam
        addressPoolName: ccdm-oam
    ldap:
      ipv6Enabled: false
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector: {}
    {%- raw %}
    #newLinesInBinaryBase64Enabled: {{true|false}}
    {% endraw %}

  eric-ctrl-bro:
    persistence:
      persistentVolumeClaim:
        {%- raw %}
        size: 128Gi
        {% endraw %}
        storageClassName: {{ storageClassName|default("network-block") }}
    nodeSelector: {}

  eric-fh-snmp-alarm-provider:
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        sharedVIPLabel: ccdm-oam
        addressPoolName: ccdm-oam
    nodeSelector: {}
    oamVIP:
      enabled: false
      {%- raw %}
      #vip: "{{10.210.167.174}}"
      #destIp: "{{10.210.140.93 10.210.150.90 10.250.110.70}}"
      {% endraw %}
      ipv6Stack: false

  eric-pm-server:
    rbac:
      appMonitoring:
        {% if caas == 'OpenShift' %}
        # ticket PCVTC-3386
        {% endif %}
        enabled: {{ appMonitoring|default("true") }}
    server:
      persistentVolume:
        storageClass: {{ storageClassName|default("network-block") }}
    nodeSelector: {}

  eric-tm-ingress-controller-cr:
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        sharedVIPLabel: ccdm-oam
        addressPoolName: ccdm-oam
    nodeSelector:
      contour: {}
      envoy: {}
    {% if caas == 'OpenShift' %}
    # According ADP Service User Guide
    resources:
      contour:
        limits:
          cpu: 1000m
          memory: 1000Mi
      envoy:
        limits:
          cpu: 1000m
          memory: 1000Mi
    {% endif %}

  eric-log-shipper:
    nodeSelector: {}
    {% if caas == 'OpenShift' %}
    rbac:
      automountServiceAccountToken: true
      createClusterRole: true
      createClusterRoleBinding: true
    logshipper:
      privileged: true
      cfgData: ""
      autodiscover:
        enabled: true
        namespace: ".RELEASE.NAMESPACE"
        logplane: adp-app-logs
        hints:
          enabled: false
        paths:
          - /var/log/pods/${data.kubernetes.namespace}_${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}/**/*.log
        useContainerInput: true
    additionalVolumes: |
      - name: crio-containers
        hostPath:
          path: /var/log/containers
      - name: kubernetes-containers
        hostPath:
          path: /var/log/pods
    additionalVolumeMounts: |
      - name: crio-containers
        mountPath: /var/log/containers
        readOnly: true
      - name: kubernetes-containers
        mountPath: /var/log/pods
        readOnly: true
    {% endif %}

  eric-log-transformer:
    nodeSelector: {}
    egress:
      syslog:
        #FOR MTLS, REMOVE COMMENT
        #tls:
        #  enabled: true
        #certificates:
        #  asymmetricKeyCertificateName: eric-log-transformer-client-certificate
        #  trustedCertificateListName: eric-log-transformer-cacerts
        #TO CHANGE THE CONFIGURATION USED PREVIOUSLY ENABLING OR DISABLING THE EXTERNAL SYSLOG REMOVE COMMENTS FOR THE FOLLOWING PARAMS (enabled and remoteHosts). CHECK DAY0 PARAMETERS DESCRIPTION FOR MORE INFO
        enabled: false
        remoteHosts:
          - host:
            port:
        # Remove # characters to enable inclusion rule.
        # If this inclusion rule is enabled, only the log events with facility field set to "security/authorization messages" will be sent to syslog receiver.
        #inclusions:
        #  - field: "[facility]"
        #    value: "security/authorization messages"

  eric-data-search-engine-curator:
    nodeSelector: {}

  eric-odca-diagnostic-data-collector:
    nodeSelector: {}

  eric-fh-alarm-handler:
    nodeSelector: {}

  eric-cm-mediator:
    nodeSelector: {}
    {% if caas == 'OpenShift' %}
    # ADPPRG-107321
    cmm:
      restWorkerQueueLimit: 0
    {% endif %}

  eric-sec-access-mgmt:
    ingress:
      hostname: iam.{{ vnflcm.namespace }}.{{ vnflcm.clusterName }}.{{ oamDomain }}
      enabled: true
      tls:
        existingSecret: iccr-external-tls-secret
      ingressClass: ccdm
    service:
      ipv6:
        enabled: false
    statefulset:
      nodeSelector: {}

  eric-sec-sip-tls:
    nodeSelector: {}

  eric-sec-key-management:
    nodeSelector: {}

  eric-sw-inventory-manager:
    nodeSelector: {}

  eric-lm-combined-server:
    enabled: true
    licenseServerClient:
      licenseServer:
        thrift:
          host: "{{ nels.host }}"
      nodeSelector: {}
    licenseConsumerHandler:
      nodeSelector: {}
    #licenseServerIpAddresses:
    #  ip1:
    #  ip2:

  eric-data-object-storage-mn:
    affinity:
      podAntiAffinity: "hard"
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}

# eric-udr-release
eric-udr:
  eric-data-message-bus-kf:
    persistence:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}

  eric-udr-backuprestore:
    persistence:
      storageClass: {{ storageClassName|default("network-block") }}

  eric-udr-ldap-balancer:
    deploy:
      minReplica: {{ minReplica['eric-udr-ldap-balancer'] | default(6) }}
      maxReplica: {{ maxReplica['eric-udr-ldap-balancer'] | default(6) }}

  eric-udr-ldapfe:
    service:
      minReplica: 2
      maxReplica: {{ maxReplica['eric-udr-ldapfe'] | default(6) }}

  eric-udr-nudrsvc:
    minReplica: {{ minReplica['eric-udr-nudrsvc'] | default(3) }}
    maxReplica: {{ maxReplica['eric-udr-nudrsvc'] | default(9) }}

  eric-udr-provisioningfe:
    minReplica: 2
    maxReplica: {{ maxReplica['eric-udr-provisioningfe'] | default(6) }}

  eric-udr-rest-notifchecker:
    minReplica: 2
    maxReplica: 4

  eric-udr-rest-notifsender:
    minReplica: 2
    maxReplica: 4

  eric-udr-soap-notifchecker:
    minReplica: 2
    maxReplica: 4

  eric-udr-soap-notifsender:
    minReplica: 2
    maxReplica: 4

  eric-udr-notificationsubscription:
    minReplica: 2
    maxReplica: {{ maxReplica['eric-udr-notificationsubscription'] | default(4) }}

  eric-udr-gudrestfe:
    minReplica: {{ minReplica['eric-udr-gudrestfe'] | default(3) }}
    maxReplica: {{ maxReplica['eric-udr-gudrestfe'] | default(8) }}

eric-data-kvdb-ag:
  persistence:
    data:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
    gwsender:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
    backup:
      persistentVolumeClaim:
        storageClassName: {{ storageClassName|default("network-block") }}
        adminMgr:
          {%- raw %}
          size: 64Gi
          {% endraw %}
  multiSite:
    locator:
      localHost: {{ multiSite.0.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org
  replicaCount:
    server: 4
################################################################################
# eric-ccdm-service-mesh
################################################################################
eric-udm-mesh-integration:
  eric-ingressgw-udr-traffic:
    replicaCount: {{ replicaCount['eric-ingressgw-udr-traffic'] | default(11) }}
    externalTrafficPolicy: {{ externalTrafficPolicy|default("Cluster") }}
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        addressPoolName: ccdm-5g-traffic
        # If defined due to addressPoolName is shared by more than one eric-ingressgw deployment,
        # set externalTrafficPolicy to Cluster
        sharedVIPLabel: ccdm-5g-traffic
  eric-ingressgw-eda-provisioning:
    replicaCount: 6
    externalTrafficPolicy: {{ externalTrafficPolicy|default("Cluster") }}
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        addressPoolName: ccdm-5g-prov
        # If defined due to addressPoolName is shared by more than one eric-ingressgw deployment,
        # set externalTrafficPolicy to Cluster
        sharedVIPLabel: ccdm-5g-prov
  eric-ingressgw-udr-ldap-provisioning:
    replicaCount: 6
    externalTrafficPolicy: {{ externalTrafficPolicy|default("Cluster") }}
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        addressPoolName: ccdm-4g-prov
        # If defined due to addressPoolName is shared by more than one eric-ingressgw deployment,
        # set externalTrafficPolicy to Cluster
        sharedVIPLabel: ccdm-4g-prov
  eric-ingressgw-udr-ldap-traffic:
    replicaCount: 6
    externalTrafficPolicy: {{ externalTrafficPolicy|default("Cluster") }}
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        addressPoolName: ccdm-4g-traffic
        # If defined due to addressPoolName is shared by more than one eric-ingressgw deployment,
        # set externalTrafficPolicy to Cluster
        sharedVIPLabel: ccdm-4g-traffic
  eric-ingressgw-udr-intersite:
    replicaCount: {{ replicaCount['eric-ingressgw-udr-intersite'] | default(5) }}

    externalTrafficPolicy: "Local"
    service:
      # If defined it overrides value defined in:
      #        annotations:
      #          addressPoolName:
      {%- raw %}
      #loadBalancerIP: {{CCDM_OAM_VIP}}
      {% endraw %}
      annotations:
        addressPoolName: ccdm-intersite
        # If defined due to addressPoolName is shared by more than one eric-ingressgw deployment,
        # set externalTrafficPolicy to Cluster
        sharedVIPLabel: ccdm-intersite
