{
  "clusterName": "{{ vnflcm.clusterName }}",
  "additionalParams": {
    "namespace": "{{ vnflcm.namespace }}",
    "applicationTimeOut": "1200",
    "skipJobVerification": "false",
    "skipVerification": "true"
  }
}
