<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Notice that it is a configuration template in XML format
  compliant with NF YANG model.  This XML template provides
  a configuration skeleton that shall be modified before
  loading into the yang service.  Some parts of the document
  must be deleted or added depending on the network configuration
  where the VNF will be deployed.
-->
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
        <!--
          Contains one of the common ciphering configuration parameters for 
          ARPF and SIDF (seed)
        -->
        <ciphering-data>
          <!--
            Value of the seed.
            Random input value consisting of Hexadecimal string
            in plain text with 64 characters length
          -->
          <seed>31d55c51125207a4750c2abdb4af967031d55c51125207a4750c2abdb4af9670</seed>
        </ciphering-data>
      </udm>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
