{
  "email": "cai3guser@ericsson.com",
  "description": "Day1 Service Account",
  "lockable": true,
  "locked": false,
  "credentials": {
    "password": "Cai3guser@"
  },
  "service_data": {
    "access_groups": [
      "Full Authority"
    ],
    "admin_domain": [],
    "max_cai_sessions": 0,
    "max_cai3g_sessions": 0,
    "max_mml_sessions": 0,
    "max_ssh_sessions": 0,
    "min_HLR_sustainable": 0,
    "roles": [
      "allrights"
    ]
  }
}
