<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Notice that it is a configuration template in XML format
  compliant with NF YANG model.  This XML template provides
  a configuration skeleton that shall be modified before
  loading into the yang service.  Some parts of the document
  must be deleted or added depending on the network configuration
  where the VNF will be deployed.
-->
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <!--
        Configuration for the HSS Common Network Function.
      -->
      <hss-common xmlns="urn:rdns:com:ericsson:oammodel:ericsson-hss-common">

        <!--  Configuration of remote Network Functions and their provided services, used by HSS  -->
        <!--  in order to handle basic traffic   -->
        <!--  UDM remote Network Function provides the following services to HSS -->
        <!--    . nudm-ueau Authentication -->
        <!--    . nudm-uecm UE Context Management  -->


        <remote-nf-profile>
          <!-- List of remote-nf-profile. -->
          <remote-nf-profile>
            <!-- Unique ID for the remote endpoint. -->
            <instance-id>{{ udmInstanceId }}</instance-id>
            <!-- Type of the remote Network Function. -->
            <type>udm</type>
            <!-- FQDN of the remote Network Function. -->
            <fqdn>{{ udm.host }}.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org:82</fqdn>
            <remote-nf-service>
              <!-- Unique ID of the remote NF Service Instance within the NF Instance. -->
              <instance-id>nudm-ueau-0</instance-id>
              <!-- Name of the remote NF Service Instance. -->
              <name>nudm-ueau</name>
              <version>
                 <api-version-in-uri>v1</api-version-in-uri>
                 <expiry>2029-01-01T00:00:00+00:00</expiry>
              </version>
              <scheme>http</scheme>
            </remote-nf-service>
            <remote-nf-service>
              <!-- Unique ID of the remote NF Service Instance within the NF Instance. -->
              <instance-id>nudm-uecm-0</instance-id>
              <!-- Name of the remote NF Service Instance. -->
              <name>nudm-uecm</name>
              <version>
                 <api-version-in-uri>v1</api-version-in-uri>
                 <expiry>2029-01-01T00:00:00+00:00</expiry>
              </version>
              <scheme>http</scheme>
            </remote-nf-service>
          </remote-nf-profile>
        </remote-nf-profile>
      </hss-common>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
