# External values file
# Please set up the values regarding to deployment which you want to deploy
# Please remove the double curly brackets {% raw %}{{}}{% endraw %} surrounding the final value to set it right


global:
  ##
  # It is the main OaM identifier of Application and it is used to support
  # correlation among different functionalities visible to the Operator
  # like logs, metrics, alarms, CLI prompt just to mention some.
  # Format: Must contains 1..32 printable ASCII characters that contains only
  #   lowercase alphanumeric characters, '-' or '.', starts and ends with
  #   an alphanumeric character.
  applicationId: "{{ nodeName }}"

  coredumps:
    enabled: true

  ericsson:
    licensing:
      licenseDomains:
        - productType: "CCSM"
          customerId: "{{ license.customerId }}"
          swltId: "{{ license.swltId }}"

  ## Specific values for Auto-provisioning error handling. Not documented in Day-0 of standard releases.
  #flexibleErrorHandling:
  #  autoprovUeauTrigger:
  #    status: 403
  #    cause: "AUTHENTICATION_REJECTED"
  #  autoprovSdmTrigger:
  #    status: 404
  #    cause: "DATA_NOT_FOUND"
  ##

  ## CCSM FSGROUP CONFIGURATION
  #  The next configuration defines the global fsGroup, if different configuration is needed change on purpose.
  #
  #  NOTE:
  #  - The default value 10000 for fsGroup will be used when no other value will be set.

  {% if caas == 'OpenShift' %}
  {% else %}
  {# this setup is not applicable in OpenShift environment since the fsGroup is assigned automatically#}
  fsGroup:
    manual: 10000
    namespace: false

  {% endif %}
  hssHandling:
    failover:
      errorHttpServiceUnavailableAsFailNhssUecm: "off"

  # Determines if enable the internal mTLS communication
  # Enable set it "on" / Disable set it "off"
  internalMtls:
    enabled: "on"

  ## CCSM EGREES GATEWAY CONFIGURATION for NRF Agent
  #  The next configuration defines the global egrees Gateway
  #  default configuration, if different configuration is needed,
  #  uncomment and change on purpose.
  #
  #  NOTE:
  #  - When mtls profile is selected, it enables the egrees automatically and
  #    the endpoint host and port must be updated on purpose.
  #  - When cleartext profile is selected, it disables egrees and the enpoints
  #    content must be manually removed on purpose.
  istio:
    # Egrees: Update the endpoint host and port on purpose
    egress:
      endpoints:
        eric-ccsm-sbi-traffic-mtls:
          enabled: true
          host: "*.5gc.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org"
          ports:
            - port: 443
              name: https-port-for-mTLS-origination
              protocol: HTTP2
              mode: mTLS
              cacert: /etc/istio/egress-ca-certs/ca-chain.cert.pem
          resolution: NONE

  # This global configuration applies to all eric-ccsm-mapproxy instances
  map:
    #Total number of stacks to be deployed, regardless if they are shared/dedicated. Max stacks number is 4
    mapStacksNumber: 2
    configuration:
      ss7:
        m3ua:
          asProfile:
            - dupu-behavior: "dpc-omitted"
              dupu-handling: "no-dupu-handling"
              id: 1
              interval-for-mtp-status-ind: 8
              notify-behavior: "resume-after-aspac-ack"
              timer-divert: 10
              timer-notify: 0
              timer-scon: 75
              timer-tr: 100
          abatementThresholdLevel1: 150
          abatementThresholdLevel2: 400
          abatementThresholdLevel3: 650
          burstSize: 0
          checkDpcStatusInIpNetwork: "not-check-opc-status"
          congestionProcForRemoteSgps: "use-both-daud-and-tscon"
          forbidMessageFromUnknownDpc: "not-check-opc"
          handleIncomDataMsgWithoutAs: "discard-msg"
          internalCongestionLevel1: 250
          internalCongestionLevel2: 500
          internalCongestionLevel3: 750
          loadsharingAlgorithm: "basic"
          maxNumberOfBurstsWithoutProgress: 0
          modifiedSlsRotation: "no-sls-rotation"
          retransmitBufferSize: 1024
          supportDynamicRegistrOfAsp: "dynamic-identif-only"
          timerBurst: 10
          timerBurstJittering: 0
          timerCongAudit: 60000
          timerInitConf: 100
          timerReinit: 100
          timerRetransmit: 5
          remoteSpProfile:
            - assoc-establishment-attempts: 4
              attempts-of-dauds: 5
              drst-support: "rfc-4666-compliant"
              heartbeat-procedure: "hb-off"
              id: 1
              max-num-of-affected-dpcs-in-daud: 0
              ntfy-support: "rfc-4666-compliant"
              timer-ack: 60
              timer-assoc: 20
              timer-audit: 300
              timer-deactivation: 0
              timer-hb: 300
              timer-rec: 100
              timer42: 8
              tmt-support: "rfc-4666-compliant"
        tcapEit:
          timerDialogue: 30000
  {% raw %}
  ## Valid values: {{eMBB|mIoT}}
  {% endraw %}
  networkType: eMBB

  # Service Mesh and CCSM NFs global settings
  nodeSelector: {}
  #  ericsson-5gc-se/vnf: ccsm

  # Determines if the nrfagent is going to be deployed or not
  # This information is required by the microservices that communicate
  # with the nrfagent so that they create the internal certificates or not
  # Enable set it "true" / Disable set it "false"
  nrfagent:
    enabled: true

  ## CCSM profiles selection
  # Enable only one profile per group
  # Size:
  # - small-system  (Small Size Systems -Enterprise & Telco)
  # - std-system (Standard System - Telco)
  # Security in the outgoing/incoming traffic:
  # - mtls (mTLS)
  # - cleartext (Clear Text)
  # IP Stack version:
  # - ipv4
  # - ipv6
  profiles:
    small-system:
      enabled: {{ 'true' if systemProfile == 'small' else 'false' }}
    std-system:
      enabled: {{ 'true' if systemProfile == 'standard' else 'false' }}
    cleartext:
      enabled: false
    mtls:
      enabled: true
    ipv4:
      enabled: true
    ipv6:
      enabled: false

  registry:
    url: armdocker.rnd.ericsson.se
    imagePullPolicy: IfNotPresent

  scpHandling:
    failover:
      errorHttpServiceUnavailableAsFailNudmUecm: "off"
      errorHttpServiceUnavailableAsFailNudmSdm: "off"
      errorHttpServiceUnavailableAsFailNamfMtLoc: "off"
      errorHttpServiceUnavailableAsFailNamfEvts: "off"

  # CCSM Security DR-124 - Pod Security Policies (PSP) and Security Context Constraints (SCC).
  security:
    policyBinding:
      ## create indicate whether needs to auto-create the rolebinding
      ## for the clusterRole used for pod security policy.
      create: false
    policyReferenceMap:
      ## the clusterRole name defined for pod security policy.
      default-restricted-security-policy: default-restricted-security-policy
      plc-privileged-for-swprobes-ccsm: plc-privileged-for-swprobes-ccsm
      plc-privileged-for-sctp-ccsm: plc-privileged-for-sctp-ccsm
      plc-e393f1841dfc4cbcca713b5a97eb83: plc-e393f1841dfc4cbcca713b5a97eb83
      plc-29c4b823c87a16cad810082eb11106: plc-29c4b823c87a16cad810082eb11106
      plc-9c20871f9bf62c7b09fd0c684ac651: plc-9c20871f9bf62c7b09fd0c684ac651
      plc-dd66cc53d8554f93ad34971900932e: plc-dd66cc53d8554f93ad34971900932e
      plc-59d0cf1dcc793a78b6ce30bfbe6553: plc-59d0cf1dcc793a78b6ce30bfbe6553
      plc-03ad10577718e69c935814b4f30054: plc-03ad10577718e69c935814b4f30054
      plc-38dc0a0ee2b2564ef10039d2c6c0e0: plc-38dc0a0ee2b2564ef10039d2c6c0e0
      plc-privileged-for-swprobe: plc-privileged-for-swprobe
      plc-privileged-for-istio: plc-privileged-for-istio
      plc-eric-tm-sctp: plc-eric-tm-sctp

  timezone: {{ timezone }}

  udrHandling:
    failover:
      errorHttpServiceUnavailableAsFailNudrDr: "off"
      errorHttpServiceUnavailableAsFailNcudrGudDr: "off"
    # Seconds to delay UDM deregistration when UDR is not available, to wait to get some new UDRs from NRF.
    nrfWaitingTime: 0

  # Determines if enable the injection of vTAP agent sidecar for SW PROBE function
  # Enable set it "true" / Disable set it "false"
  vtapagent:
    enabled: true


## SERVICE MESH SPECIFIC SETTINGS
#  The next configuration defines the Service Mesh default configuration,
#  if different configuration is needed, uncomment and change on purpose.
#
#  NOTE:
#    Two values between double curly brackets {% raw %}{{mtls|cleartext}}{% endraw %} default values
#    Do not change the targetPort
#    Disable eric-ingressgw-<NF>-traffic if no NF will be installed
eric-ccsm-service-mesh:
  eric-ingressgw-ausf-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-ausf-5g-sig
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|80}}
    {% endraw %}
    #    targetPort: 8080
  eric-ingressgw-udm-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-udm-5g-sig
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|81}}
    {% endraw %}
    #    targetPort: 8081
    #    tcpkeepalive:
    #      time: 60
    #      interval: 30
    #      probes: 2
    #  - name: http-clear
    #    port: 82
    #    targetPort: 8082
    #    tcpkeepalive:
    #      time: 60
    #      interval: 30
    #      probes: 2
  eric-ingressgw-eir-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-eir-5g-sig
    #ports:
    {%- raw %}
    #  - name: {{https-mtls|http2-clear}}
    #    port: {{443|83}}
    {% endraw %}
    #    targetPort: 8083
  eric-ingressgw-epc-soap-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-oam
        sharedVIPLabel: ccsm-oam
    #ports:
    {%- raw %}
    #  - name: {{http}}
    #    port: {{84}}
    {% endraw %}
    #    targetPort: 8084
  eric-ingressgw-ims-soap-traffic:
    enabled: false
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-oam
        sharedVIPLabel: ccsm-oam
    #ports:
    {%- raw %}
    #  - name: {{http}}
    #    port: {{85}}
    {% endraw %}
    #    targetPort: 8085
  eric-ingressgw-hss-epc-traffic:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      annotations:
        addressPoolName: ccsm-hss-epc-http-sig
    #ports:
    {%- raw %}
    #  - name: {{http2-clear}}
    #    port: {{80}}
    {% endraw %}
    #    targetPort: 8086

#
# Overwrite the CCSM specific settings
#

# Overwrite the AUSF Helm values here
eric-ccsm-ausf:
  enabled: true
  eric-ausf-capacity:
    minReplicas: 2
    maxReplicas: 3
  eric-ausf-engine:
    minReplicas: 2
    maxReplicas: 2

# Overwrite smsengine Helm values here
eric-ccsm-smsengine:
  minReplicas: 2
  maxReplicas: 94

# Overwrite the UDM Helm values here
eric-ccsm-udm:
  enabled: true
  global:
    hsmconfig:
      hsminstall: false
      hagroup: HA_PED_ST3
      server:
        # define HSM server with endpoint (IP) and serialnum
        - endpoint: 10.198.28.25
          serialnum: "1485999395022"
        - endpoint: 10.198.28.26
          serialnum: "1531778547595"
  eric-udm-amfeenotifications:
    minReplicas: 2
    maxReplicas: 48
  eric-udm-amfeesubscriptions:
    minReplicas: 2
    maxReplicas: 48
  eric-udm-autoprovisioning:
    minReplicas: 2
    maxReplicas: 10
  eric-udm-cancelepclocation:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-capacity:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-eapauth:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-eapprimeauth:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-epsauth:
    minReplicas: 5
    maxReplicas: 6
  eric-udm-gbaauth:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-imsauth:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-iratamflocation:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-iratamfdereg:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-iratsndereg:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-iwk5g2g:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-mtsmsdeliverystatus:
    minReplicas: 2
    maxReplicas: 186
  eric-udm-mtsmsreadystatus:
    minReplicas: 2
    maxReplicas: 186
  eric-udm-mtsmsroutinginfo:
    minReplicas: 2
    maxReplicas: 186
  eric-udm-mtsmswaitingdata:
    minReplicas: 2
    maxReplicas: 94
  eric-udm-mtueinfo:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-mtlocation:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-pcscfrestnotif:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-pcscfrestoration:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-sdmamdata:
    minReplicas: 3
    maxReplicas: 3
  eric-udm-sdmimplicitunsub:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-sdmmultipledataset:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-sdmnotif:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-sdmnssai:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-sdmsmdata:
    minReplicas: 2
    maxReplicas: 3
  eric-udm-sdmsmfselect:
    minReplicas: 3
    maxReplicas: 3
  eric-udm-sdmsmsdata:
    minReplicas: 2
    maxReplicas: 40
  eric-udm-sdmsmsmngdata:
    minReplicas: 2
    maxReplicas: 40
  eric-udm-sdmsubscriptions:
    minReplicas: 5
    maxReplicas: 6
  eric-udm-sdmuectxtsmf:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-sdmuectxtsmsf:
    minReplicas: 2
    maxReplicas: 40
  eric-udm-sidf:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-ueauth:
    minReplicas: 3
    maxReplicas: 4
  eric-udm-uecmamfderegnotifier:
    minReplicas: 1
    maxReplicas: 1
  eric-udm-uecmamfget:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-uecmamfregupdate:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-uecmreg:
    minReplicas: 5
    maxReplicas: 5
  eric-udm-uecmsmfderegistration:
    minReplicas: 2
    maxReplicas: 2
  eric-udm-uecmsmfregistration:
    minReplicas: 3
    maxReplicas: 4
  eric-udm-uecmsmsfdereg:
    minReplicas: 2
    maxReplicas: 40
  eric-udm-uecmsmsfregget:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-uecmsmsfregistration:
    minReplicas: 2
    maxReplicas: 40
  eric-udm-ueshcm:
    minReplicas: 2
    maxReplicas: 20
  eric-udm-umtsauth:
    minReplicas: 2
    maxReplicas: 94

# Overwrite the EIR Helm values here
eric-ccsm-eir:
  enabled: true
  eric-eir-diametereireic:
    minReplicas: 2
    maxReplicas: 80
  eric-eir-eireic:
    minReplicas: 4
    maxReplicas: 4
  eric-eir-httpnotifier:
    minReplicas: 2
    maxReplicas: 20
  eric-eir-infocollector:
    minReplicas: 2
    maxReplicas: 20
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-eir-infocollectorunsucc:
    minReplicas: 1
    maxReplicas: 20
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-eir-s13diameter:
    minReplicas: 2
    maxReplicas: 20

# Overwrite the HSS-EPC Helm values here
eric-ccsm-hssepc:
  enabled: true
  eric-hssepc-capacity:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-mttadsinfo:
    minReplicas: 2
    maxReplicas: 20
  eric-hssepc-iratsndereg:
    minReplicas: 7
    maxReplicas: 8
  eric-hssepc-s6aauthentication:
    minReplicas: 5
    maxReplicas: 6
  eric-hssepc-s6acancellocation:
    minReplicas: 5
    maxReplicas: 6
  eric-hssepc-s6adeletesubscriber:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-s6adiameter:
    minReplicas: 3
    maxReplicas: 3
  eric-hssepc-s6ainsertsubscriber:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-s6anotify:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-s6apurge:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-s6aupdatelocation:
    minReplicas: 5
    maxReplicas: 6
  eric-hssepc-soap:
    minReplicas: 2
    maxReplicas: 2
  eric-hssepc-subscriptionupdate:
    minReplicas: 2
    maxReplicas: 2

# Overwrite the HSS-IMS Helm values here.
eric-ccsm-hssims:
  enabled: false
  eric-hssims-shudrrepodata:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrimsi:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrimspublicidentity:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrimsuserstate:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrcharginginformation:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrscscfname:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrmsisdns:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shudrtadsinformation:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shpur:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shsnr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-soap:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shprovnotification:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shpnr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-shdiameter:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxdiameter:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxlir:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxuar:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxmar:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxsarreg:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxsardereg:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxsarunreg:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxsarauth:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxprovnotifrtr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxrtr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxprovnotifppr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-cxppr:
    minReplicas: 2
    maxReplicas: 20
  eric-hssims-capacity:
    minReplicas: 2
    maxReplicas: 10

# Diameter Networking related settings
eric-stm-diameter:
  service:
    loadBalancerIP: ""
    annotations:
      addressPoolNameDiameterOverTCP: "dia-sig"
      addressPoolNameDiameterOverSCTP: "ccsm-dia-sig"
      sharedVIPLabelDiameterOverSCTP: "ccsm-dia-sig"
      sharedVIPLabelDiameterOverTCP: "dia-sig"
    diameter:
      ports:
        tcp:
          - port:  3868
            targetPort:  3868
        sctp:
          - port:  3868
            targetPort:  3868

# Overwrite the Mapproxy Helm values here
eric-ccsm-mapproxy-1:
  # Networking related settings
  service:
    loadBalancerIP: ""
    annotations:
      addressPoolName: map-sig
    sctp:
      # The list of ports for traffic
      # default is the list with one port 2905
      port:
        - 2905 # default value

eric-ccsm-mapproxy-2:
  # Networking related settings
  service:
    loadBalancerIP: ""
    annotations:
      addressPoolName: map-sig-2
    sctp:
      # The list of ports for traffic
      # default is the list with one port 2905
      port:
        - 2905 # default value

eric-ccsm-mapproxy-3:
  # Networking related settings
  service:
    loadBalancerIP: ""
    annotations:
      addressPoolName: map-sig-3
    sctp:
      # The list of ports for traffic
      # default is the list with one port 2905
      port:
        - 2905 # default value

eric-ccsm-mapproxy-4:
  # Networking related settings
  service:
    loadBalancerIP: ""
    annotations:
      addressPoolName: map-sig-4
    sctp:
      # The list of ports for traffic
      # default is the list with one port 2905
      port:
        - 2905 # default value

# Overwrite networkPolicy enabling here
networkPolicy:
  enabled: false

# Overwrite the ADP Generic Services Helm values here
eric-ccsm-adp:
  eric-cm-mediator:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    {% if caas == 'OpenShift' %}
    # ADPPRG-107321
    cmm:
      restWorkerQueueLimit: 0
    {% endif %}
  eric-cm-yang-provider:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    service:
      annotations:
        addressPoolName: "ccsm-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      type: LoadBalancer
  eric-cnom-document-database-mg:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistence:
      storageClass: {{ storageClassName|default("network-block") }}
  eric-cnom-server:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    fqdn: cnom.{{ vnflcm.namespace }}.{{ vnflcm.clusterName }}.{{ oamDomain }}
    legalNotice: >
      IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY


      This system processes personal information. Handle personal information
      with care.  Misuse, including unauthorized access, is grounds for legal
      action.  Version: 1.0, Date: October 27, 2020.
  eric-ctrl-bro:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 2Gi
        storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-coordinator-zk:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      datacoordinatorzk: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 10Gi
        storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-distributed-coordinator-ed:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      dced: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      brAgent:
        backupVolume:
          storageClassName: {{ storageClassName|default("network-block") }}
      persistentVolumeClaim:
        size: 2Gi
        storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-document-database-pg:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 8Gi
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-document-database-pg-ah:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 4Gi
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-document-database-pg-lm:
    nodeSelector:
      brAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
      cleanuphook: {}
      #  ericsson-5gc-se/vnf: ccsm
      postgres: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 4Gi
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-message-bus-kf:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistence:
      persistentVolumeClaim:
        size: 10Gi
        storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-object-storage-mn:
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
    affinity:
      ##
      # Set 'soft' when number of available workers less than 4.
      # Set 'hard' when number of available workers is 4 or more.
      podAntiAffinity: "hard"
  eric-data-search-engine:
    nodeSelector:
      bragent: {}
      #  ericsson-5gc-se/vnf: ccsm
      data: {}
      #  ericsson-5gc-se/vnf: ccsm
      ingest: {}
      #  ericsson-5gc-se/vnf: ccsm
      master: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistence:
      backup:
        persistentVolumeClaim:
          size: 16Mi
          storageClassName: {{ storageClassName|default("network-block") }}
      data:
        persistentVolumeClaim:
          size: 100Gi
          storageClassName: {{ storageClassName|default("network-block") }}
      master:
        persistentVolumeClaim:
          size: 64Mi
          storageClassName: {{ storageClassName|default("network-block") }}
  eric-data-search-engine-curator:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-fh-alarm-handler:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-fh-snmp-alarm-provider:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    oamVIP:
      enabled: false
      #vip: "" # example: "10.210.167.174"
      #destIp : "" # example: "10.210.140.93 10.210.150.90 10.250.110.70"
    service:
      annotations:
        addressPoolName: "ccsm-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      type: LoadBalancer
    sourceIdentifierType: 1
    sourceIdentifier: ""
  eric-lm-combined-server:
    licenseConsumerHandler:
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
    licenseServerClient:
      licenseServer:
        thrift:
          host: "{{ nels.host }}"
          port: {{ nels.port }}
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
    licenseServerIpAddresses:
      # licenseServerIpAddresses.ip1 - the first IP address of a license server in the hosts file
      ip1:
      # licenseServerIpAddresses.ip2 - the second IP address of a license server in the hosts file for Geographical Redundency
      ip2:
  eric-lm-unique-object-reporter:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    uoi:
      hostname: "{{ nels.host }}"
      ip:
      port: 8060
  eric-log-shipper:
    nodeSelector: {}
    {% if caas == 'OpenShift' %}
    rbac:
      automountServiceAccountToken: true
      createClusterRole: true
      createClusterRoleBinding: true
    logshipper:
      privileged: true
      cfgData: ""
      autodiscover:
        enabled: true
        namespace: ".RELEASE.NAMESPACE"
        logplane: adp-app-logs
        paths:
          - /var/log/pods/${data.kubernetes.namespace}_${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}/**/*.log
        useContainerInput: true
    additionalVolumes: |
      - name: crio-containers
        hostPath:
          path: /var/log/containers
      - name: kubernetes-containers
        hostPath:
          path: /var/log/pods
    additionalVolumeMounts: |
      - name: crio-containers
        mountPath: /var/log/containers
        readOnly: true
      - name: kubernetes-containers
        mountPath: /var/log/pods
        readOnly: true
    {% endif %}
    #  ericsson-5gc-se/vnf: ccsm
  eric-log-transformer:
    egress:
      syslog:
        enabled: false
        defaultFacility: 1
        defaultSeverity: 5
        tls:
          enabled: true
        certificates:
          asymmetricKeyCertificateName: log-syslog-client
          trustedCertificateListName: log-syslog-client
        remoteHosts: []
        inclusions: []
        exclusions: []
        filter: ""
    networkPolicy:
      egress: {}
        #- cidr: 172.17.0.0/32
        #  ports:
        #  - protocol: TCP
        #    port: 1234
        #  - protocol: UDP
        #    port: 2345
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-odca-diagnostic-data-collector:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-pm-bulk-reporter:
    env:
      nodeName: {{ nodeName }}
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      size: 500Mi
      storageClassName: {{ storageClassName|default("network-block") }}
    service:
      annotations:
        addressPoolName: "ccsm-oam"
        sharedVIPLabel: "ccsm-oam"
      loadBalancerIP: ""
      type: LoadBalancer
  eric-pm-server:
    nodeSelector: {}
    {% if caas and caas == 'OpenShift' %}
    resources:
      eric-pm-exporter:
        limits:
          # ticket UDM5GP-57124
          memory: 48Mi
    {% endif %}
    #  ericsson-5gc-se/vnf: ccsm
    server:
      nodeSelector: {}
      #  ericsson-5gc-se/vnf: ccsm
      extraArgs:
        storage.tsdb.retention.size: 75GB
      persistentVolume:
        size: 80Gi
        storageClass: {{ storageClassName|default("network-block") }}
    rbac:
      appMonitoring:
        enabled: {{ appMonitoring|default("true") }}
        federation:
          jobOverride: false
          jobConfiguration: |
            #- job_name: 'federate-3pp-caas'
            #  scrape_interval: 15s
            #  honor_labels: true
            #  metrics_path: '/federate'
            #  params:
            #    'match[]':
            #      - '{job="kubernetes-nodes",namespace="eric-ccsm"}'
            #      - '{job="kubernetes-nodes-cadvisor",namespace="eric-ccsm"}'
            #  static_configs:
            #    - targets:
            #      - 'eric-pm-server.monitoring:9090'
  eric-sec-admin-user-management:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
    notices:
      legal: "IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY"
      privacy: >
        This system processes personal information. Handle personal information
        with care.  Misuse, including unauthorized access, is grounds for legal
        action. Version: 1.0, Date: October 27, 2020.
  eric-sec-certm:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sec-key-management:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sec-ldap-server:
    nodeSelector:
      ldap: {}
      #  ericsson-5gc-se/vnf: ccsm
      ldapAgent: {}
      #  ericsson-5gc-se/vnf: ccsm
    persistentVolumeClaim:
      storageClassName: {{ storageClassName|default("network-block") }}
  eric-sec-sip-tls:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-si-application-sys-info-handler:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-sw-inventory-manager:
    nodeSelector: {}
    #  ericsson-5gc-se/vnf: ccsm
  eric-tm-ingress-controller-cr:
    nodeSelector:
      contour: {}
      #  ericsson-5gc-se/vnf: ccsm
      envoy: {}
      #  ericsson-5gc-se/vnf: ccsm
    service:
      annotations:
        addressPoolName: "ccsm-oam"
        sharedVIPLabel: "ccsm-oam"
    # According ADP Service User Guide
    {% if caas == 'OpenShift' %}
    resources:
      contour:
        limits:
          cpu: 300m
          memory: 1000Mi
      envoy:
        limits:
          cpu: "2"
          memory: 600Mi
    {% endif %}
