<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
HSS-IMS day-1 parameters
Notice that it is a configuration template in XML format compliant with
NF YANG model.
-->
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>
            urn:ietf:params:netconf:base:1.0
        </capability>
    </capabilities>
</hello>]]>]]><?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
    <edit-config>
        <target>
            <running />
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <hssims xmlns="urn:rdns:com:ericsson:oammodel:ericsson-hssims">
              <ims-as>
              {% for as in ccsm.ims.as %}
                <as>
                  <as-id>{{ as.id }}</as-id>
                  <as-name>{{ as.name }}</as-name>
                  <as-realm>{{ as.realm }}</as-realm>
                </as>
              {% endfor %}
              </ims-as>
              <sh-diameter>
                {% for sh in ccsm.ims.sh %}
                <server>
                  <realm>{{ sh.realm }}</realm>
                  <host>{{ sh.host  }}</host>
                </server>
                {% endfor %}
                <timeout-incoming-request>9000</timeout-incoming-request>
                <timeout-outgoing-request>2000</timeout-outgoing-request>
                <enable-trace>false</enable-trace>
                <request-reattempts>1</request-reattempts>
                <reattempt-delay-time>2000</reattempt-delay-time>
              </sh-diameter>
              <network-domain>
                <network-domain-id>ims.mnc{{ mnc|mnc|mnc3 }}.mcc{{ mcc|mcc }}.3gppnetwork.org</network-domain-id>
                <is-home>true</is-home>
              </network-domain>
              {% for serviceType in ccsm.ims.serviceType %}
              <service-type>
                <service-type-id>{{ serviceType.id }}</service-type-id>
                <service-profile>
                  <service-profile-id>{{ serviceType.id }}</service-profile-id>
                  <default-application-server>{{ serviceType.defaultApplicationServer }}</default-application-server>
                  <default-as-handling>{{ serviceType.defaultAsHandling }}</default-as-handling>
                </service-profile>
              </service-type>
              {% endfor %}
              <cx-diameter>
                {% for cx in ccsm.ims.cx %}
                <server>
                  <realm>{{ cx.realm }}</realm>
                  <host>{{ cx.host }}</host>
                </server>
                {% endfor %}
                <timeout-incoming-request>9000</timeout-incoming-request>
                <timeout-outgoing-request>2000</timeout-outgoing-request>
                <enable-trace>false</enable-trace>
                <request-reattempts>1</request-reattempts>
                <reattempt-delay-time>2000</reattempt-delay-time>
              </cx-diameter>
            </hssims>
        </config>
    </edit-config>
</rpc><close-session />

