<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Notice that it is a configuration template in XML format
  compliant with NF YANG model.  This XML template provides
  a configuration skeleton that shall be modified before
  loading into the yang service.  Some parts of the document
  must be deleted or added depending on the network configuration
  where the VNF will be deployed.
-->
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <!--Configuration for the EIR S13 adp diameter Function.-->
        <diameter xmlns="urn:rdns:com:ericsson:oammodel:ericsson-diameter-adp">
            <service>
                <!--Configuration for the EIR S13 service name.-->
                <id>eric-eir-s13diameter</id>
                <local-endpoint-reference>
                    <id>EirS13Reference</id>
                    <application>eric-eir-s13-diameter</application>
                    <local-endpoint>CCSMEndpoint_sctp</local-endpoint>
                </local-endpoint-reference>
            </service>
            <transport>
                <node>
                    <id>CCSMHost</id>
                    <origin-realm>ericsson.se</origin-realm>
                    <origin-host>{{ ccsm.hss.diameter.host }}.ericsson.se</origin-host>
                    <product-name>CCSM</product-name>
                    <vendor-id>193</vendor-id>
                    <firmware-revision>1</firmware-revision>
                </node>
                <host-address-resolver>
                    <id>EirS13Address</id>
                    <linux-env-var>POD_IP</linux-env-var>
                </host-address-resolver>
                <local-endpoint>
                    <id>CCSMEndpoint_sctp</id>
                    <node>CCSMHost</node>
                    <transport-sctp>
                        <port>3868</port>
                        <address>EirS13Address</address>
                    </transport-sctp>
                </local-endpoint>
            </transport>
            <routing-table>
                <id>EirS13RoutingTable</id>
                <service>eric-eir-s13diameter</service>
                <routing-entry>
                    <id>20</id>
                    <expression>msg.egress</expression>
                    <action>forward-message</action>
                </routing-entry>
            </routing-table>
        </diameter>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
