{
"dataplanName": "Bronze",
"globalScope": false,
"staticQualification":
{
"maxBearerQosProfileId": "defaultIpCanSessionQos",
"minBearerQosProfileId": "defaultIpCanSessionQos"
},
"defaultPriority": 4
}

