<?xml version="1.0" encoding="UTF-8"?>
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>
            urn:ietf:params:netconf:base:1.0
        </capability>
    </capabilities>
</hello>
]]>]]>
<?xml version="1.0" encoding="UTF-8"?>
<rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config>
            <!--xmlns="urn:rdns:com:ericsson:oammodel:ericsson-servicerouting-agent" refers to Service Routing Agent namespace.-->
            <servicerouting-agent xmlns="urn:rdns:com:ericsson:oammodel:ericsson-servicerouting-agent">
                <!--Local configuration of SCPs that could be selected to connect.-->
                {% if systemProfile != 'small' %}
                <scp>
                    <!--Each item of the list represents the connection point to a specific SCP.-->
                    <scp-profile>
                        <!--Unique ID represents the SCP.-->
                        <id>scp01</id>
                        <!--Status of SCP. The SCP could be selected only if scp-enabled is set to true.-->
                        <scp-enabled>{{ indirectCommunication.enabled | string | lower }}</scp-enabled>
                        <!--FQDN of the scp.-->
                        <fqdn>{{ indirectCommunication.scp.0.host }}.{{ DOMAIN_3GPP_5GC }}</fqdn>
                        <!--Priority of this SCP compared to the set of scp in redundancy mode;lower values indicate a higher priority-->
                        <!--If priority is also present in the service parameters, those will have precedence over this value.-->
                        <priority>1</priority>
                        <!--Information about the location of the SCP.-->
                        <locality>{{ locality }}</locality>
                        <!--Information for scp info.-->
                        <scp-info>
                                <scp-port>
                                    <!--SCP URI scheme.-->
                                    <scheme>https</scheme>
                                    <!--SCP port number for specific scheme.-->
                                    <port>{{ indirectCommunication.scp.0.port }}</port>
                                </scp-port>
                        </scp-info>
                    </scp-profile>
                </scp>
                {% endif %}
                <!--Local configuration of SCP selection rules.-->
                <scp-selection-rules>
                    <!--Each item of the list represents the The rule indicates what attributes (of NF producer) are used-->
                    <!--to do serving SCP selection. The rules are prioritized in ascending order of their rule ID.-->
                    <rule>
                        <!--Unique ID represents the rule. The rule with lower id number has the higher priority.-->
                        <id>4000</id>
                        <!--To specify which NF the rule is applicable. It is useful when collocated NFs are using-->
                        <!--servicerouting agent. When it is not specified, the rule is applicable to all NFs using-->
                        <!--Each item represents one rule attribute and value, all of them shall be fulfilled when match the rule.-->
                        <!--String or regular expression for match. When it is not specified, any value is match.-->
                        <select-rule>
                            <!--Attribute of the rule.-->
                            <rule-attribute>address-domain-rule</rule-attribute>
                            <!--Regular expression for matching.-->
                            <pattern>{{ ccpc.smfSbiNotifyHost }}.{{ DOMAIN_3GPP_5GC }}</pattern>
                        <!--Configuration whether direction or indirection communication to be used when hit the rule.-->
                       </select-rule>
                        <rule-action>indirect-preferred</rule-action>
                    </rule>
                </scp-selection-rules>
                <!--Common configuration of servicerouting agent.-->
                <common>
                    <!--Time period for caching SCP selection results.-->
                    <response-cache-time>3600</response-cache-time>
                </common>
            </servicerouting-agent>
        </config>
    </edit-config>
</rpc>
