{
  "clusterName": "{{ vnflcm.clusterName }}",
  "additionalParams": {
    "namespace": "{{ vnflcm.namespace }}",
    "applicationTimeOut": "3600",
    "disableOpenapiValidation": false,
    "skipVerification": true,
    "skipJobVerification": true,
    "cleanUpResources": true,
    "manoControlledScaling": false,
    "helmNoHooks": false,
    "helm_client_version": "3.8"
  }
}
