<?xml version="1.0" encoding="UTF-8"?>
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>urn:ietf:params:netconf:base:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:writable-running:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:rollback-on-error:1.0</capability>
    </capabilities>
</hello>
]]>]]>
<rpc message-id="1" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>iccr-external-tls-key</name>
                    <certificate-name>iccr-external-tls-certificate</certificate-name>
                    <p12>{{ certs['iccr-external-tls-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['iccr-external-tls-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="2" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-cces-sbi-server-certs-cacert</name>
                    <description>CCES SBI CA certificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="2" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-cces-sbi-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="3" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-cces-sbi-server-certs-key</name>
                    <certificate-name>eric-cces-sbi-server-certs-certificate</certificate-name>
                    <p12>{{ certs['eric-cces-sbi-server-certs-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-cces-sbi-server-certs-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="4" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-cces-sbi-client-certs-cacert</name>
                    <description>CCES SBI client CA certificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="4" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-cces-sbi-client-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="5" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-cces-sbi-client-certs-key</name>
                    <certificate-name>eric-cces-sbi-client-certs-certificate</certificate-name>
                    <p12>{{ certs['eric-cces-sbi-client-certs-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-cces-sbi-client-certs-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>
<rpc message-id="6" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-cces-nbi-trust-server-certs-cacert</name>
                    <description>CCES NBI trusted CA certificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="6" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-cces-nbi-trust-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="7" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-cces-nbi-trust-server-certs-key</name>
                    <certificate-name>eric-cces-nbi-trust-server-certs-certificate</certificate-name>
                    <p12>{{ certs['eric-cces-nbi-trust-server-certs-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-cces-nbi-trust-server-certs-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="8" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-cces-nbi-client-certs-cacert</name>
                    <description>CCES NBI client CA certificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="8" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-cces-nbi-client-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="9" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-cces-nbi-client-certs-key</name>
                    <certificate-name>eric-cces-nbi-client-certs-certificate</certificate-name>
                    <p12>{{ certs['eric-cces-nbi-client-certs-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-cces-nbi-client-certs-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>


<rpc message-id="10" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-cces-prov-server-certs-cacert</name>
                    <description>CCES provisioning CA certificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="10" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-cces-prov-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>
<rpc message-id="11" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-cces-prov-server-certs-key</name>
                    <certificate-name>eric-cces-prov-server-certs-certificate</certificate-name>
                    <p12>{{ certs['eric-cces-prov-server-certs-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-cces-prov-server-certs-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
<close-session/>
