{
  "clusterName": "{{ vnflcm.clusterName }}",
  "additionalParams": {
    "namespace": "{{ vnflcm.namespace }}",
     "applicationTimeOut": "3600",
     "skipJobVerification": "false",
     "skipVerification": "false"
  }
}
