<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <capabilities>
        <capability>urn:ietf:params:netconf:base:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:writable-running:1.0</capability>
        <capability>urn:ietf:params:netconf:capability:rollback-on-error:1.0</capability>
    </capabilities>
</hello>
]]>]]>

<rpc message-id="11" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>iccr-external-tls-key</name>
                    <certificate-name>iccr-external-tls-certificate</certificate-name>
                    <p12>{{ certs['iccr-external-tls-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['iccr-external-tls-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="21" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-sbi-server-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-sbi-server-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="22" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-sbi-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-sbi-server-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="23" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-sbi-server-key</name>
                    <certificate-name>eric-ccdm-sbi-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-sbi-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-sbi-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="31" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-sbi-client-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-sbi-client-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="32" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-sbi-client-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-sbi-client-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="33" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-sbi-client-key</name>
                    <certificate-name>eric-ccdm-sbi-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-sbi-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-sbi-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="41" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-4gtraffic-server-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-4gtraffic-server-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="42" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-4gtraffic-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-4gtraffic-server-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="43" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-4gtraffic-server-key</name>
                    <certificate-name>eric-ccdm-4gtraffic-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-4gtraffic-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-4gtraffic-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="51" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-4gtraffic-client-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-4gtraffic-client-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="52" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-4gtraffic-client-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-4gtraffic-client-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="53" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-4gtraffic-client-key</name>
                    <certificate-name>eric-ccdm-4gtraffic-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-4gtraffic-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-4gtraffic-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="61" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-eda-server-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-eda-server-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="62" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-eda-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-eda-server-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="71" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-prov-server-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-prov-server-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="72" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-prov-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-prov-server-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="73" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-prov-server-key</name>
                    <certificate-name>eric-ccdm-prov-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-prov-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-prov-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="81" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-4gprovisioning-server-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-4gprovisioning-server-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="82" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-4gprovisioning-server-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-4gprovisioning-server-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="83" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-4gprovisioning-server-key</name>
                    <certificate-name>eric-ccdm-4gprovisioning-server-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-4gprovisioning-server-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-4gprovisioning-server-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
]]>]]>

<rpc message-id="91" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <edit-config>
        <target>
            <running/>
        </target>
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
            <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore" xmlns:ts="urn:ietf:params:xml:ns:yang:ietf-truststore">
                <certificates>
                    <name>eric-ccdm-4gprovisioning-client-certs-cacert</name>
                    <description>Trusted certificate for eric-ccdm-4gprovisioning-client-certs-cacert ExternalCertificate</description>
                </certificates>
            </truststore>
        </config>
    </edit-config>
</rpc>
]]>]]>
<rpc message-id="92" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <truststore xmlns="urn:ietf:params:xml:ns:yang:ietf-truststore">
            <certificates>
                <name>eric-ccdm-4gprovisioning-client-certs-cacert</name>
                <install-certificate-pem xmlns="urn:rdns:com:ericsson:oammodel:ericsson-truststore-ext">
                    <name>eric-ccdm-4gprovisioning-client-certs-cacert</name>
                    <pem>{{ trustCAs.0 | file_b64encode }}</pem>
                </install-certificate-pem>
            </certificates>
        </truststore>
    </action>
</rpc>
]]>]]>

<rpc message-id="93" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
    <action xmlns="urn:ietf:params:xml:ns:yang:1" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
            <asymmetric-keys>
                <install-asymmetric-key-pkcs12 xmlns="urn:rdns:com:ericsson:oammodel:ericsson-keystore-ext">
                    <name>eric-ccdm-4gprovisioning-client-key</name>
                    <certificate-name>eric-ccdm-4gprovisioning-client-certificate</certificate-name>
                    <p12>{{ certs['eric-ccdm-4gprovisioning-client-certificate'].p12 | file_b64encode }}</p12>
                    <p12-password>{{ certs['eric-ccdm-4gprovisioning-client-certificate'].password }}</p12-password>
                </install-asymmetric-key-pkcs12>
            </asymmetric-keys>
        </keystore>
    </action>
</rpc>
<close-session/>
