<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Notice that it is a configuration template in XML format
  compliant with NF YANG model.  This XML template provides
  a configuration skeleton that shall be modified before
  loading into the yang service.  Some parts of the document
  must be deleted or added depending on the network configuration
  where the VNF will be deployed.
-->
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <!--
        Contains configuration parameters for ARPF.
      -->
      <arpf>
        <!--
          Set the values of a Function Set in f-set list.
          Constraints:
          - Before creating an FSet entry, the CustomerKey value must be defined if hsm-only deployment is not set.
          - Before creating an FSet entry with algorithm = milenage, the crypto-officer-password value must be defined if hsm-only or hsm-arpf deployment is set.
          - Before creating an FSet entry with algorithm = milenage, the Storage Key (SK) value must be defined if hsm-only or hsm-arpf deployment is set.
        -->
        <set-f-set>
          <!--
            Identifier of the Function Set.
            Range: 0-255
          -->
          <id>0</id>
          <!--
            Algorithm used in this f-set (milenage or test).
            Constraints:
            - If algorithm is set with test, OP and r1-r5 and c1-c5 constants cannot be set.
            - If algorithm is set with milenage, OP must be set and r1-r5 and c1-c5 constants are optional.
            - If deployment is hsm-only, algorithm cannot be set to test.
          -->
          <algorithm>milenage</algorithm>
          <!--
            Name of the Function Set
          -->
          <name>fset0</name>
          <!--
            Value of the operator variant algorithm.
            Hexadecimal string in plain text with 32 characters length.
          -->
          <op>01020304050607080900010203040506</op>
          <!--
            - r1 constant value.
              Decimal string from 0 To 127. Example: \"5\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (64)
            - r2 constant value.
              Decimal string from 0 To 127. Example:  \"9\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (0)
            - r3 constant value.
              Decimal string from 0 To 127. Example: \"20\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (32)
            - r4 constant value.
              Decimal string from 0 To 127. Example: \"69\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (64)
            - r5 constant value.
              Decimal string from 0 To 127. Example: \"125\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (96)
          -->
          <r1>64</r1>
          <r2>0</r2>
          <r3>32</r3>
          <r4>64</r4>
          <r5>96</r5>
          <!--
            - c1 constant value.
              Hexadecimal string with 32 characteres length. Example: \"0C18F3782BCAF38EE051DAA421710C05\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (00000000000000000000000000000000)
            - c2 constant value.
              Hexadecimal string with 32 characteres length. Example:  \"5E777CEB356923A38B16D98B8465C039\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (00000000000000000000000000000001)
            - c3 constant value.
              Hexadecimal string with 32 characteres length. Example: \"484430F8C27DC44B5553070A5881ABE2\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (00000000000000000000000000000002)
            - c4 constant value.
              Hexadecimal string with 32 characteres length. Example: \"C6A1B73DD6BD8410BBFF394E2CE257EE\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (00000000000000000000000000000004)
            - c5 constant value.
              Hexadecimal string with 32 characteres length. Example: \"568B9D873304BFF0456228BEAD32E9B3\"
              Only applicable to Milenage algorithm. If this attribute is
              left empty, the default value for Milenage applies (00000000000000000000000000000008)
          -->
          <!-- <c1>{C1}</c1> -->
          <!-- <c2>{C2}</c2> -->
          <!-- <c3>{C3}</c3> -->
          <!-- <c4>{C4}</c4> -->
          <!-- <c5>{C5}</c5> -->
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
]]>]]>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <id>2</id>
          <algorithm>milenage</algorithm>
          <name>fset2</name>
          <op>01020304050607080900010203040506</op>
          <r1>64</r1>
          <r2>0</r2>
          <r3>32</r3>
          <r4>64</r4>
          <r5>96</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
]]>]]>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <id>3</id>
          <algorithm>milenage</algorithm>
          <name>fset3</name>
          <op>AE54B06C38DD2A4B9947A33FEE1008BC</op>
          <r1>23</r1>
          <r2>20</r2>
          <r3>125</r3>
          <r4>100</r4>
          <r5>30</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
]]>]]>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <id>4</id>
          <algorithm>milenage</algorithm>
          <name>fset4</name>
          <op>CDC202D5123E20F62B6D676AC72CB318</op>
          <r1>23</r1>
          <r2>20</r2>
          <r3>125</r3>
          <r4>100</r4>
          <r5>30</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
